Repository callstack/react-native-paper, pull requests merged in 2020-06, with the labels that each got.

#1947 Feat: add action to check versions of library
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST.md
  .github/workflows/versions.yml
Labels: core team, enhancement

#1932 feat: add docs header to js sections
  docs/pages/src/Home.js
  docs/pages/src/Showcase.js
Labels: docs

#1965 fix: memory leak in Menu hide animation
  src/components/Menu/Menu.tsx
Labels: Menu, bug
