Repository callstack/react-native-paper, pull requests merged in 2020-07, with the labels that each got.

#2049 fix: allow auto change theme
  example/app.json
  example/src/index.tsx
Labels: core team, example app

#2028 feat(Menu): improve accessibility around dismissing
  src/components/Menu/Menu.tsx
Labels: Menu

#2070 feat(Modal): improve accessibility around dismissing
  src/components/Menu/Menu.tsx
  src/components/Modal.tsx
Labels: Modal
