Repository callstack/react-native-paper, pull requests merged in 2020-08, with the labels that each got.

#2072 feat: add support for long press to FAB
  src/components/FAB/FAB.tsx
Labels: FAB

#2131 feat: improve checkbox accessibility
  src/components/Checkbox/CheckboxAndroid.tsx
  src/components/Checkbox/CheckboxIOS.tsx
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.js.snap
Labels: Checkbox

#2044 feat: add ellipsizeMode prop to Chip
  example/src/Examples/ChipExample.tsx
  src/components/Chip.tsx
Labels: Chip

#2143 feat: add prop forceTextInputFocus to icon adornment
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Adornment/Icon.tsx
Labels: TextInput

#2144 feat: improve chip accessibility
  example/src/Examples/ChipExample.tsx
  src/components/Chip.tsx
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
Labels: Chip
