Repository callstack/react-native-paper, pull requests merged in 2021-12, with the labels that each got.

#2975 fix: outlined input error border width
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#2970 fix: typescript issue in banner when customizing buttons
  src/components/Banner.tsx
Labels: Banner, Typescript

#2976 fix: correct Chip touchable style
  example/src/Examples/ChipExample.tsx
  src/components/Chip.tsx
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
Labels: Chip

#2961 fix: remove outline from Searchbar on Web
  src/components/Searchbar.tsx
Labels: bug, Searchbar

#2960 fix: correct long label in outlined text input
  example/src/Examples/TextInputExample.tsx
  example/utils/index.ts
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#2991 feat: The `label` prop for `TextInput` can now take a component (`ReactElement`) as well as `string`
  example/src/Examples/TextInputExample.tsx
  example/utils/index.ts
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/helpers.tsx
  src/components/TextInput/types.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#2979 fix: add patching container for multiline input on ios
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#2985 fix: correct clickthrough on web tabs within BottomNavigation
  src/babel/__fixtures__/rewrite-imports/output.js
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/BottomNavigationRouteScreen.tsx
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
  src/index.tsx
Labels: bug, web, BottomNavigation

#2997 fix: move outline outside of input view container
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput
