Repository callstack/react-native-paper, pull requests merged in 2021-11, with the labels that each got.

#2952 chore: remove unused babel presets
  example/package.json
  example/yarn.lock
Labels: Hacktoberfest

#2947 fix: make RadioButtonGroup accessible
  src/components/RadioButton/RadioButtonGroup.tsx
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.js.snap
Labels: RadioButton, Accessibility

#2921 fix: unified behavior when focusing on CheckBox.Item with screen reader
  src/components/Checkbox/CheckboxItem.tsx
  src/components/__tests__/Checkbox/CheckboxItem.test.js
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
Labels: Checkbox, Accessibility

#2907 feat: add AnimatedFAB improvements
  docs/component-docs.config.js
  example/src/ExampleList.tsx
  example/src/Examples/AnimatedFABExample/AnimatedFABExample.tsx
  example/src/Examples/AnimatedFABExample/CustomFAB.tsx
  example/src/Examples/AnimatedFABExample/CustomFABControls.tsx
  example/src/Examples/AnimatedFABExample/index.ts
  src/components/FAB/AnimatedFAB/AnimatedFAB.tsx
  src/components/FAB/AnimatedFAB/index.ts
  src/components/FAB/AnimatedFAB/utils.ts
  src/components/__tests__/AnimatedFAB.test.js
  src/components/__tests__/__snapshots__/AnimatedFAB.test.js.snap
  src/index.tsx
Labels: FAB
