Repository callstack/react-native-paper, pull requests merged in 2021-06, with the labels that each got.

#2754 fix: Drawer.Item content not center aligned
  src/components/Drawer/DrawerItem.tsx
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
Labels: Drawer

#2621 fix!: fix TextInput paddingOut not based on lineHeight when provided
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/helpers.tsx
Labels: TextInput, repro provided

#2786 fix: TextInput border being cut out
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/types.tsx
Labels: TextInput, bug
