Repository callstack/react-native-paper, pull requests merged in 2021-07, with the labels that each got.

#2793 fix: outlined TexInput adjustPaddingOut (#2740)
  src/components/TextInput/helpers.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput, bug

#2831 fix: do not render empty string as accordion description
  src/components/List/ListAccordion.tsx
Labels: List, bug

#2775 feat: improve ListAccordion accessibility
  src/components/List/ListAccordion.tsx
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
Labels: Accessibility, List

#2808 fix: full width Chip touchable not focusing
  src/components/Chip.tsx
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
Labels: Chip, bug

#2830 fix: add missing padding to CardTitle
  src/components/Card/CardTitle.tsx
Labels: Card, bug
