Repository callstack/react-native-paper, pull requests merged in 2021-05, with the labels that each got.

#2701 fix: run animation on card long press
  src/components/Card/Card.tsx
Labels: Card

#2673 feat: improve ProgressBar and ActivityIndicator accessibility
  src/components/ActivityIndicator.tsx
  src/components/ProgressBar.tsx
  src/components/__tests__/__snapshots__/ActivityIndicator.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.js.snap
  src/components/__tests__/__snapshots__/ProgressBar.test.js.snap
Labels: Accessibility

#2505 feat: add prop right to DrawerItem
  example/src/DrawerItems.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
Labels: Drawer, Keep opened

#2512 feat: add card mode outlined
  example/src/Examples/CardExample.tsx
  package.json
  src/components/Card/Card.tsx
  src/components/__tests__/Card/Card.test.js
  src/components/__tests__/Card/__snapshots__/Card.test.js.snap
  yarn.lock
Labels: Card, Keep opened, waiting response

#2665 docs: improve TextInput Affix/Icon docs
  docs/assets/screenshots/textinput-flat.icon.png
  docs/assets/screenshots/textinput-outline.affix.png
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
Labels: docs

#2746 feat: add a safeAreaInsets prop to bottom navigation
  src/components/BottomNavigation.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation

#2735 fix: correct Button elevation
  src/components/Button.tsx
Labels: repro provided

#2736 fix: interpolate shadowOpacity to correct its value for the elevation equal zero
  src/styles/shadow.tsx
Labels: bug

#2713 feat: introduce prop for defining control position (leading/trailing) fo RadioButton.Item
  example/src/Examples/RadioButtonItemExample.tsx
  src/components/RadioButton/RadioButtonItem.tsx
  src/components/__tests__/RadioButton/RadioButtonItem.test.js
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
Labels: RadioButton

#2738 feat: introduce prop for defining control position (leading/trailing) for checkbox item
  example/src/Examples/CheckboxItemExample.tsx
  src/components/Checkbox/CheckboxItem.tsx
  src/components/__tests__/Checkbox/CheckboxItem.test.js
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
Labels: Checkbox

#2611 fix(BottomNavigation): migrate to tab role instead of button
  src/components/BottomNavigation.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: Accessibility

#2475 feat: add outlineColor prop in TextInputOutlined
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputOutlined.tsx
Labels: Keep opened

#2455 feat: DataTable Pagination
  docs/assets/screenshots/data-table-pagination.png
  docs/assets/screenshots/data-table.png
  example/src/Examples/DataTableExample.tsx
  src/components/DataTable/DataTable.tsx
  src/components/DataTable/DataTablePagination.tsx
  src/components/__tests__/DataTable.test.js
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
Labels: DataTable, enhancement
