Repository callstack/react-native-paper, pull requests merged in 2021-04, with the labels that each got.

#2640 fix: do not render empty string as section title
  src/components/List/ListSection.tsx
Labels: List

#2622 fix: define a prop as optional
  src/components/Badge.tsx
Labels: Badge

#2525 Fix: Pagination Datatable example
  example/src/Examples/DataTableExample.tsx
Labels: Stale

#2651 fix: correct toggle button type
  src/components/ToggleButton/ToggleButton.tsx
  src/components/ToggleButton/ToggleButtonGroup.tsx
Labels: Typescript

#2654 fix: remove additional outline from web inputs
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#2647 fix: add prop borderless to ListAccordion component
  src/components/List/ListAccordion.tsx
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
Labels: List

#2637 feat: pass pointerEvents to the `DataTableRow` view container
  src/components/DataTable/DataTableRow.tsx
Labels: DataTable

#2589 chore: change MenuItem to function component
  src/components/Menu/MenuItem.tsx
Labels: Menu

#2577 feat: add accessibilityLabel prop to MenuItem
  src/components/Menu/MenuItem.tsx
Labels: Accessibility

#2531 feat: add prop right to List Accordion
  src/components/List/ListAccordion.tsx
Labels: List, needs more info

#2664 fix: correct example list background color
  example/src/ExampleList.tsx
Labels: Theme, example app

#2659 fix: correct flex values in checkbox item label
  src/components/Checkbox/CheckboxItem.tsx
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
Labels: Checkbox

#2660 fix: remove resizeMode style property from CardCover
  src/components/Card/CardCover.tsx
Labels: Card

#2661 feat: add prop color to TextInputIcon
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
Labels: TextInput

#2672 fix: correct label bug related to some Android devices
  src/components/TextInput/Label/LabelBackground.tsx
Labels: TextInput

#2678 fix: patch for text input label
  src/components/TextInput/Label/LabelBackground.tsx
Labels: TextInput
