Repository callstack/react-native-paper, pull requests merged in 2022-10, with the labels that each got.

#3401 fix: correct Banner children type
  src/components/Banner.tsx
Labels: Banner

#3405 fix: allow to fully override testID in TextInput
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3400 feat: use Pressable in TouchableRipple
  src/components/Button/Button.tsx
  src/components/Chip/Chip.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/List/ListAccordion.tsx
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/TouchableRipple/TouchableRipple.native.tsx
  src/components/TouchableRipple/TouchableRipple.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButton.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
  src/components/__tests__/__snapshots__/AnimatedFAB.test.js.snap
  src/components/__tests__/__snapshots__/Banner.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.js.snap
  src/components/__tests__/__snapshots__/IconButton.test.js.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/components/__tests__/__snapshots__/Menu.test.js.snap
  src/components/__tests__/__snapshots__/MenuItem.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
  src/components/__tests__/__snapshots__/SegmentedButton.test.js.snap
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
Labels: TouchableRipple

#3409 fix: set default font properties for Text component without variant
  src/components/Typography/Text.tsx
  src/components/__tests__/Typography/Text.test.js
  src/components/__tests__/__snapshots__/Avatar.test.js.snap
  src/components/__tests__/__snapshots__/Banner.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
Labels: Typography

#3412 feat: Snackbar support for any children
  src/components/Snackbar.tsx
  src/components/__tests__/Snackbar.test.js
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
Labels: Snackbar

#3398 feat: add createDynamicThemeColors utility
  docs/assets/screenshots/custom-colors.png
  docs/pages/2.theming.md
  package.json
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/core/__tests__/theming.test.js
  src/core/theming.tsx
  src/index.tsx
  src/styles/themes/v3/DarkTheme.tsx
  src/styles/themes/v3/LightTheme.tsx
  src/types.tsx
  yarn.lock
Labels: Theme, Material You (v5)

#3411 feat: add textColor prop for input content text custom color
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/helpers.tsx
  src/components/__tests__/TextInput.test.js
Labels: enhancement, TextInput

#3414 fix: progress bar animated value
  example/src/Examples/ProgressBarExample.tsx
  src/components/ProgressBar.tsx
  src/components/__tests__/ProgressBar.test.js
Labels: ProgressBar

#3415 fix(regression): BottomNavigation can't render a single tab
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/BottomNavigation.test.js
Labels: BottomNavigation

#3408 fix: BottomNavigation warn when shifting with the wrong number of tabs
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/BottomNavigation.test.js
Labels: BottomNavigation

#3416 refactor: make Banner actions optional
  src/components/Banner.tsx
  src/components/__tests__/Banner.test.js
Labels: Banner

#3399 feat: add adaptNavigationTheme utility
  docs/pages/2.theming.md
  docs/pages/8.theming-with-react-navigation.md
  src/core/__tests__/theming.test.js
  src/core/theming.tsx
  src/index.tsx
  src/types.tsx
Labels: Theme, Material You (v5)

#3426 fix: removed material color utils
  docs/pages/2.theming.md
  package.json
  src/core/__tests__/theming.test.js
  src/core/theming.tsx
  src/index.tsx
  yarn.lock
Labels: dependencies, Theme

#3429 docs: dynamic theme colors
  docs/package.json
  docs/pages/2.theming.mdx
  docs/pages/src/assets/screenshots/custom-colors.png
  docs/pages/src/components/DynamicColorTheme.js
  docs/pages/src/components/Switch.js
  docs/pages/src/css/DynamicColorTheme.css
  docs/pages/src/css/Switch.css
  docs/pages/src/utils/createDynamicColorTheme.js
  docs/patches/@material+material-color-utilities+0.2.0.patch
  docs/yarn.lock
Labels: docs

#3397 feat: allow styling underline/outline wrapper on `TextInput`
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3418 fix: adjust menu layout when keyboard opens
  example/src/Examples/MenuExample.tsx
  src/components/Menu/Menu.tsx
Labels: Menu

#3436 fix: add default property to the v3 theme fonts
  src/components/Typography/Text.tsx
  src/components/__tests__/__snapshots__/Avatar.test.js.snap
  src/components/__tests__/__snapshots__/Banner.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
  src/styles/themes/v3/tokens.tsx
  src/types.tsx
Labels: Typography

#3438 fix: added offscreenAlphaCompositing for android only
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation

#3445 feat: List image
  docs/assets/screenshots/list-image.png
  src/components/List/List.tsx
  src/components/List/ListImage.tsx
  src/components/__tests__/ListImage.test.js
  src/components/__tests__/__snapshots__/ListImage.test.js.snap
  src/index.tsx
Labels: List

#3419 fix: react-native-vector-icons issue when running tests
  package.json
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
  src/components/__tests__/ListItem.test.js
  src/components/__tests__/RadioButton/__snapshots__/RadioButton.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
  src/components/__tests__/__snapshots__/AnimatedFAB.test.js.snap
  src/components/__tests__/__snapshots__/Avatar.test.js.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.js.snap
  src/components/__tests__/__snapshots__/IconButton.test.js.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/components/__tests__/__snapshots__/MenuItem.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
  src/components/__tests__/__snapshots__/SegmentedButton.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
Labels: dependencies

#3433 feat: getLazy prop for bottom-navigation
  example/src/Examples/BottomNavigationExample.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation

#3442 feat: List Item v3 adjustment
  src/components/List/ListIcon.tsx
  src/components/List/ListItem.tsx
  src/components/List/utils.ts
  src/components/__tests__/ListUtils.test.js
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
Labels: List, Material You (v5)

#3447 feat: added List.Item examples
  example/src/ExampleList.tsx
  example/src/Examples/ListItemExample.tsx
Labels: example app, List
