Repository callstack/react-native-paper, pull requests merged in 2022-03, with the labels that each got.

#3096 chore: patch component-docs for badge annotation
  docs/component-docs.config.js
  docs/package.json
  docs/patches/component-docs+0.23.0.patch
  docs/yarn.lock
Labels: docs, Material You

#3082 feat: adjust AnimatedText, update Typography component and props description
  example/src/Examples/TextExample.tsx
  src/components/FAB/AnimatedFAB/AnimatedFAB.tsx
  src/components/HelperText.tsx
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/Typography/AnimatedText.tsx
  src/components/Typography/Text.tsx
  src/components/Typography/v2/AnimatedText.tsx
  src/components/__tests__/Typography/Text.test.js
Labels: Typography, Material You

#3115 chore: patch component-docs for component badge annotation
  docs/component-docs.config.js
  docs/patches/component-docs+0.23.0.patch
Labels: docs, Material You

#3078 chore: web example support
  example/app.json
  example/src/DrawerItems.tsx
  example/src/index.tsx
  example/utils/index.ts
  package.json
  yarn.lock
Labels: web

#3063 chore: bump react-navigation to v6
  example/package.json
  example/src/Examples/BannerExample.tsx
  example/src/RootNavigator.tsx
  example/src/index.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: example app, dependencies

#3121 chore: update reanimated in example app
  example/package.json
  example/src/ExampleList.tsx
  example/yarn.lock
Labels: example app, dependencies

#3100 feat: introduce new prop labelMaxFontSizeMultiplier for BottomNavigation
  example/src/Examples/BottomNavigationExample.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation

#3112 feat: TextStyle Props Add in Table and Cell
  src/components/DataTable/DataTableCell.tsx
  src/components/DataTable/DataTableTitle.tsx
Labels: DataTable

#3077 fix(CheckboxItem): properly disable touchable
  example/src/Examples/CheckboxItemExample.tsx
  src/components/Checkbox/CheckboxItem.tsx
  src/components/__tests__/Checkbox/CheckboxItem.test.js
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
Labels: bug, Checkbox

#3057 Fix: Updated documentation for Webpack 5
  docs/pages/5.react-native-web.md
Labels: docs, web

#3089 feat: add surface shadows
  example/src/Examples/SurfaceExample.tsx
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/AppbarHeader.tsx
  src/components/Banner.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/Button.tsx
  src/components/Card/Card.tsx
  src/components/Chip.tsx
  src/components/Snackbar.tsx
  src/components/Surface.tsx
  src/index.tsx
  src/styles/overlay.tsx
  src/styles/themes/v3/DarkTheme.tsx
  src/styles/themes/v3/LightTheme.tsx
  src/types.tsx
Labels: Surface, Material You

#3015 fix: datatable.title numberOfLines > 1 height + wrapped text align
  src/components/DataTable/DataTableTitle.tsx
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
Labels: DataTable, repro provided

#3131 fix: pass maxFontSizeMultiplier to input label and adornments
  src/components/HelperText.tsx
  src/components/TextInput/Adornment/TextInputAdornment.tsx
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/types.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput, Accessibility
