Repository callstack/react-native-paper, pull requests merged in 2022-09, with the labels that each got.

#3343 fix: correct custom border radius in FAB
  src/components/FAB/FAB.tsx
  src/components/__tests__/FAB.test.js
  src/components/__tests__/__snapshots__/FAB.test.js.snap
Labels: FAB, Material You (v5)

#3330 fix: correct padding offset in TextInput on Android when RTL
  src/components/TextInput/TextInputFlat.tsx
  src/components/__tests__/TextInput.test.js
Labels: TextInput, RTL

#3350 docs: add support for link to types
  docs/component-docs.config.js
  docs/pages/2.theming.md
  docs/patches/component-docs+0.23.0.patch
Labels: docs

#3349 fix: correct text input label background layout
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput, Material You (v5)

#3373 fix: correct Searchbar clear icon
  src/components/Searchbar.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/Searchbar.test.js
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
Labels: Searchbar

#3370 fix: unblock using custom color in AppbarAction
  src/components/Appbar/utils.ts
  src/components/__tests__/Appbar/Appbar.test.js
Labels: Appbar, Material You (v5)

#3363 fix: allow styling fab-group action label, renamings
  src/components/FAB/FABGroup.tsx
  src/components/__tests__/FABGroup.test.js
Labels: FAB

#3374 fix: display pill shape only on focused tab
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation, Material You (v5)

#3352 refactor: replace I18nManager.isRTL with 18nManager.getConstants().isRTL
  example/src/index.tsx
  src/components/Appbar/AppbarBackIcon.tsx
  src/components/DataTable/DataTablePagination.tsx
  src/components/DataTable/DataTableTitle.tsx
  src/components/Icon.tsx
  src/components/List/ListAccordion.tsx
  src/components/Menu/Menu.tsx
  src/components/Searchbar.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/Typography/AnimatedText.tsx
  src/components/Typography/Text.tsx
  src/components/Typography/v2/StyledText.tsx
Labels: RTL

#3351 fix: using theme in Text's components, renaming typescales to fonts
  docs/pages/2.theming.md
  src/components/Appbar/AppbarContent.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/Button/Button.tsx
  src/components/Chip/Chip.tsx
  src/components/Dialog/DialogTitle.tsx
  src/components/Drawer/DrawerCollapsedItem.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/Drawer/DrawerSection.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/FABGroup.tsx
  src/components/List/ListSubheader.tsx
  src/components/Menu/MenuItem.tsx
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/constants.tsx
  src/components/TextInput/types.tsx
  src/components/Typography/AnimatedText.tsx
  src/components/Typography/Text.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/Typography/__snapshots__/Text.test.js.snap
  src/components/__tests__/__snapshots__/Avatar.test.js.snap
  src/components/__tests__/__snapshots__/Banner.test.js.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.js.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/components/__tests__/__snapshots__/Menu.test.js.snap
  src/components/__tests__/__snapshots__/MenuItem.test.js.snap
  src/components/__tests__/__snapshots__/SegmentedButton.test.js.snap
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/styles/__tests__/fonts.test.js
  src/styles/fonts.tsx
  src/styles/themes/v3/LightTheme.tsx
  src/types.tsx
Labels: Appbar, Dialog, Drawer, FAB, Menu, TextInput, Typography, BottomNavigation, Chip, Theme, Material You (v5), SegmenetedButtons

#3386 docs: add PharmaciesOnDuty to Showcase
  docs/assets/showcase/pharmaciesondutyturkey.png
  docs/pages/src/Showcase.js
Labels: docs

#3388 fix: button ripple radius
  src/components/Button/Button.tsx
Labels: Button

#3389 docs: adds Kuroga to showcase
  docs/assets/showcase/kurogahome.png
  docs/pages/src/Showcase.js
Labels: docs
