Repository callstack/react-native-paper, pull requests merged in 2022-11, with the labels that each got.

#3452 fix: unwanted closing of contextMenu
  src/components/TextInput/TextInput.tsx
Labels: TextInput

#3448 feat: make ripple color dynamic for ListAccordion
  src/components/List/ListAccordion.tsx
  src/components/List/utils.ts
  src/components/__tests__/ListAccordion.test.js
Labels: List

#3441 feat: create Tooltip component
  example/src/ExampleList.tsx
  example/src/Examples/TooltipExample.tsx
  src/components/Appbar/AppbarAction.tsx
  src/components/Appbar/AppbarBackAction.tsx
  src/components/Appbar/utils.ts
  src/components/FAB/FAB.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Surface.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/utils.ts
  src/components/__tests__/Appbar/Appbar.test.js
  src/components/__tests__/Tooltip.test.js
  src/index.tsx
  src/styles/themes/v2/DarkTheme.tsx
  src/styles/themes/v2/LightTheme.tsx
  src/types.tsx
Labels: proposal, Tooltip

#3465 fix: card border radius
  src/components/Card/Card.tsx
  src/components/Card/utils.tsx
  src/components/__tests__/Card/Card.test.js
  src/components/__tests__/Card/__snapshots__/Card.test.js.snap
Labels: Card, Material You (v5)

#3468 refactor: adjust divider component insets
  src/components/Divider.tsx
  src/components/__tests__/Drawer/__snapshots__/DrawerSection.test.js.snap
Labels: Divider, Material You (v5)

#3469 fix: correct card size within container
  src/components/Card/Card.tsx
  src/components/__tests__/Card/__snapshots__/Card.test.js.snap
Labels: Card

#3446 chore: upgrade example app to expo 46 & update dependencies
  example/package.json
  example/src/Examples/AnimatedFABExample/CustomFABControls.tsx
  example/yarn.lock
  package.json
  src/components/Appbar/utils.ts
  src/components/BottomNavigation/BottomNavigationRouteScreen.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardActions.tsx
  src/components/Chip/Chip.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/DialogActions.tsx
  src/components/List/ListAccordion.tsx
  src/components/Portal/Portal.tsx
  src/components/TextInput/types.tsx
  src/core/Provider.tsx
  src/styles/overlay.tsx
  src/utils/addEventListener.tsx
  src/utils/useIsKeyboardShown.tsx
  yarn.lock
Labels: Hacktoberfest, hacktoberfest-accepted

#3485 chore: migrate updates to eas
  .github/workflows/publish-each-pr.yml
  .github/workflows/publish.yml
Labels: example app

#3483 refactor: adjust progress bar track color
  example/src/Examples/ProgressBarExample.tsx
  src/components/ProgressBar.tsx
  src/components/__tests__/__snapshots__/ProgressBar.test.js.snap
Labels: ProgressBar

#3410 fix: typescript definition for Button's onPress should have event as argument
  src/components/Button/Button.tsx
  src/components/Snackbar.tsx
Labels: Button, Typescript

#3479 fix: add tint to elevated Card
  src/components/Card/Card.tsx
  src/components/Card/utils.tsx
  src/components/__tests__/Card/Card.test.js
Labels: Card, Material You (v5)

#3494 refactor: adjust configure fonts overloads
  src/styles/fonts.tsx
  src/styles/themes/v3/LightTheme.tsx
Labels: Typography, Theme

#3482 fix: segmented-button-item-style
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/__tests__/__snapshots__/SegmentedButton.test.js.snap
Labels: SegmenetedButtons

#3498 refactor: extend adaptNavigationTheme
  docs/pages/2.theming.mdx
  src/core/__tests__/theming.test.js
  src/core/theming.tsx
Labels: utilities
