Repository callstack/react-native-paper, pull requests merged in 2022-08, with the labels that each got.

#3277 feat: extend Button props by adding onPressIn and onPressOut
  src/components/Button/Button.tsx
  src/components/__tests__/Button.test.js
Labels: Button, Material You (v5)

#3276 feat: allow to specify button's mode in CardAction
  src/components/Card/CardActions.tsx
  src/components/__tests__/Card/Card.test.js
Labels: Card, Material You (v5)

#3275 fix: pass missing props to surface container
  src/components/Surface.tsx
  src/components/__tests__/Surface.test.js
Labels: Surface, Material You (v5)

#3260 fix: correct changing Dialog backdrop color (#3259)
  docs/pages/10.migration-guide-to-5.0.md
  docs/pages/2.theming.md
  src/components/Dialog/Dialog.tsx
  src/components/FAB/FABGroup.tsx
  src/components/FAB/utils.ts
  src/components/Modal.tsx
  src/components/__tests__/FABGroup.test.js
  src/components/__tests__/Modal.test.js
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/styles/themes/v3/DarkTheme.tsx
  src/styles/themes/v3/LightTheme.tsx
  src/types.tsx
Labels: Dialog, FAB, Theme, Material You (v5)

#3265 docs: add homework helper to showcase
  docs/assets/showcase/homeworkhelper.png
  docs/pages/src/Showcase.js
Labels: docs

#3284 docs: Add CrazyThursday to Showcase
  docs/assets/showcase/crazythursday.jpg
  docs/pages/src/Showcase.js
Labels: docs

#3301 feat: add support for safe area insets in Appbar
  docs/pages/10.migration-guide-to-5.0.md
  example/src/Examples/AppbarExample.tsx
  src/components/Appbar/Appbar.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
Labels: Appbar

#3298 fix: correct BottomNavigation background color
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation, Material You (v5)

#3302 feat: export DefaultTheme
  src/core/theming.tsx
  src/index.tsx
Labels: Theme

#3308 fix: update link to example app
  example/README.md
Labels: example app

#3300 chore: update react-native-testing-library to v11
  package.json
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/__tests__/Avatar.test.js
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/Card/Card.test.js
  src/components/__tests__/Checkbox/CheckboxItem.test.js
  src/components/__tests__/DataTable.test.js
  src/components/__tests__/Portal.test.js
  src/components/__tests__/ProgressBar.test.js
  src/components/__tests__/RadioButton/RadioButton.test.js
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/core/__tests__/Provider.test.js
  yarn.lock
Labels: dependencies

#3311 chore: testing library adjustments
  package.json
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/Button.test.js
  src/components/__tests__/Card/Card.test.js
  src/components/__tests__/DataTable.test.js
  src/components/__tests__/Modal.test.js
  src/components/__tests__/Surface.test.js
  src/components/__tests__/TextInput.test.js
  yarn.lock
Labels: dependencies

#3316 Fix KeyboardAvoidingView not working with BottomNavigation
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation

#3324 docs: add new app to showcase
  docs/assets/showcase/moonmeet.png
  docs/pages/src/Showcase.js
Labels: docs

#3322 feat: added loading icon in Searchbar
  example/src/Examples/SearchbarExample.tsx
  src/components/Searchbar.tsx
  src/components/__tests__/Searchbar.test.js
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
Labels: Searchbar

#3318 fix: correct text input label color
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/types.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3317 refactor: rename TextInputIcon prop from name to icon
  docs/pages/10.migration-guide-to-5.0.md
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/__tests__/TextInput.test.js
Labels: TextInput

#3326 fix: NotificationsRoute causing error
  src/components/BottomNavigation/BottomNavigation.tsx
Labels: docs, BottomNavigation

#3283 feat: add SegmentedButtons component
  docs/assets/screenshots/segmented-button.png
  docs/assets/screenshots/segmentedbuttons.gif
  docs/pages/10.migration-guide-to-5.0.md
  example/src/ExampleList.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonDefault.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonDisabled.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonMultiselect.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonMultiselectIcons.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonOnlyIcons.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonOnlyIconsWithCheck.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonWithDensity.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonWithSelectedCheck.tsx
  example/src/Examples/SegmentedButtons/index.ts
  example/src/Examples/SegmentedButtonsExample.tsx
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/SegmentedButtons/SegmentedButtons.tsx
  src/components/SegmentedButtons/utils.ts
  src/components/__tests__/SegmentedButton.test.js
  src/components/__tests__/__snapshots__/SegmentedButton.test.js.snap
  src/index.tsx
Labels: Material You (v5), SegmenetedButtons

#3331 fix: adjust initial placeholder text value
  src/components/TextInput/TextInput.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3291 docs: noting that Provider includes Portal.Host
  src/components/Portal/Portal.tsx
Labels: docs, Portal

#3342 docs: update example on getting-started.md
  docs/pages/1.getting-started.md
Labels: docs

#3340 fix: adjust avatar text line height to font scale
  src/components/Avatar/AvatarText.tsx
  src/components/__tests__/__snapshots__/Avatar.test.js.snap
Labels: Avatar
