Repository callstack/react-native-paper, pull requests merged in 2022-12, with the labels that each got.

#3495 fix: correct tooltip behaviour on mobile
  docs/assets/screenshots/tooltip.gif
  docs/pages/10.migration-guide-to-5.0.md
  example/src/Examples/TooltipExample.tsx
  src/components/Surface.tsx
  src/components/Tooltip/Tooltip.tsx
Labels: Tooltip

#3504 docs: add table with fonts variants
  docs/pages/10.migration-guide-to-5.0.md
  docs/pages/4.fonts.mdx
Labels: docs, Typography

#3484 fix: export gestureResponderEvent to add preventDefault support on web
  src/components/Appbar/AppbarBackAction.tsx
  src/components/Appbar/AppbarContent.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/CheckboxAndroid.tsx
  src/components/Checkbox/CheckboxIOS.tsx
  src/components/Checkbox/CheckboxItem.tsx
  src/components/Chip/Chip.tsx
  src/components/DataTable/DataTableCell.tsx
  src/components/DataTable/DataTableRow.tsx
  src/components/DataTable/DataTableTitle.tsx
  src/components/Drawer/DrawerCollapsedItem.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/FABGroup.tsx
  src/components/List/ListAccordion.tsx
  src/components/List/ListItem.tsx
  src/components/Menu/MenuItem.tsx
  src/components/RadioButton/RadioButton.tsx
  src/components/RadioButton/RadioButtonAndroid.tsx
  src/components/RadioButton/RadioButtonIOS.tsx
  src/components/RadioButton/RadioButtonItem.tsx
  src/components/RadioButton/utils.ts
  src/components/Searchbar.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/TouchableRipple/TouchableRipple.native.tsx
Labels: Typescript

#3497 refactor: adjust Snackbar to Material You
  docs/pages/10.migration-guide-to-5.0.md
  example/src/Examples/SnackbarExample.tsx
  src/components/Snackbar.tsx
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
Labels: Snackbar

#3505 refactor: adjust drawer collapsed item icons
  docs/pages/10.migration-guide-to-5.0.md
  example/src/DrawerItems.tsx
  example/src/index.tsx
  src/components/Drawer/DrawerCollapsedItem.tsx
  src/components/Drawer/DrawerSection.tsx
  src/components/__tests__/Drawer/DrawerCollapsedItem.test.js
Labels: Drawer, Material You (v5)

#3503 docs: update Menu docs for RN Modal
  src/components/Menu/Menu.tsx
Labels: docs, Modal

#3478 feat: replace rn iphone x helper with safe area context
  docs/pages/1.getting-started.md
  docs/pages/10.migration-guide-to-5.0.md
  example/package.json
  example/src/ExampleList.tsx
  example/src/Examples/SnackbarExample.tsx
  example/src/index.tsx
  example/yarn.lock
  package.json
  src/components/Appbar/AppbarHeader.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/FAB/FABGroup.tsx
  src/components/Modal.tsx
  src/components/Snackbar.tsx
  src/components/__tests__/Appbar/Appbar.test.js
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/FABGroup.test.js
  src/components/__tests__/Modal.test.js
  src/components/__tests__/Snackbar.test.js
  src/components/__tests__/Tooltip.test.js
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
  src/core/Provider.tsx
  src/core/SafeAreaProviderCompat.tsx
  src/core/__tests__/Provider.test.js
  yarn.lock
Labels: dependencies, Material You (v5)

#3512 fix: disable native driver in Card elevation animation
  src/components/Card/Card.tsx
Labels: example app, Card

#3518 docs: fixed <Swtich> example for Theming with React Navigation - Using Context
  docs/pages/8.theming-with-react-navigation.md
Labels: docs

#3487 fix: automatically close snackbar by duration
  package.json
  src/components/Snackbar.tsx
  yarn.lock
Labels: Snackbar

#3521 fix: fix position of menu when dimensions change
  src/components/Menu/Menu.tsx
Labels: Menu

#3509 feat: add customInputStyle to TextInput
  example/src/Examples/TextInputExample.tsx
  example/utils/index.ts
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/types.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3463 feat: add prop pointerEvents for ListAccordion
  src/components/List/ListAccordion.tsx
Labels: List

#3510 feat: Add label prop to FAB.Group
  src/components/FAB/FABGroup.tsx
  src/components/__tests__/FABGroup.test.js
Labels: FAB

#3531 fix: Visual fix on IconButton when focused
  src/components/IconButton/IconButton.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/IconButton.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
Labels: Icon Button

#3536 feat: add delay long press support
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Chip/Chip.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/List/ListAccordion.tsx
Labels: Card, FAB, List, Button, Chip

#3537 refactor: correct input flex behavior
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3546 fix: menu position fix when dimensions change
  src/components/Menu/Menu.tsx
Labels: Menu

#3559 fix: adjust icon styles in compact button
  example/src/Examples/ButtonExample.tsx
  src/components/Button/Button.tsx
  src/components/__tests__/Button.test.js
  src/components/__tests__/__snapshots__/Banner.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/Menu.test.js.snap
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
Labels: Button

#3558 fix: correct animated fab container bg color
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/utils.ts
  src/components/__tests__/AnimatedFAB.test.js
  src/components/__tests__/FAB.test.js
  src/components/__tests__/__snapshots__/AnimatedFAB.test.js.snap
Labels: FAB

#3565 fix: correct border radius in icon button and card components
  example/src/Examples/IconButtonExample.tsx
  src/components/Card/Card.tsx
  src/components/IconButton/IconButton.tsx
  src/components/__tests__/Card/Card.test.js
  src/components/__tests__/Card/__snapshots__/Card.test.js.snap
  src/components/__tests__/IconButton.test.js
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
Labels: Card, Icon Button
