Repository callstack/react-native-paper, pull requests merged in 2022-01, with the labels that each got.

#3038 fix: fixed backgroundColor of textinput label #3020
  src/components/TextInput/TextInputFlat.tsx
Labels: TextInput

#3030 chore: update typescript and prettier versions
  .eslintrc
  example/src/Examples/ButtonExample.tsx
  example/src/Examples/CheckboxItemExample.tsx
  example/src/Examples/MenuExample.tsx
  example/src/Examples/RadioButtonItemExample.tsx
  example/src/Examples/ToggleButtonExample.tsx
  example/src/RootNavigator.tsx
  example/src/index.tsx
  package.json
  src/components/Badge.tsx
  src/components/Chip.tsx
  src/components/FAB/FAB.tsx
  src/components/List/ListAccordionGroup.tsx
  src/components/MaterialCommunityIcon.tsx
  src/components/Modal.tsx
  src/components/ProgressBar.tsx
  src/components/Snackbar.tsx
  src/components/TextInput/Adornment/TextInputAdornment.tsx
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/ToggleButton/ToggleButtonGroup.tsx
  src/core/Provider.tsx
  src/core/theming.tsx
  src/styles/fonts.tsx
  yarn.lock
Labels: dependencies

#2218 refactor: update text input class component to functional
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/helpers.tsx
  src/components/__tests__/TextInput.test.js
Labels: TextInput, Keep opened

#2951 chore: upgrade expo to 44
  .github/workflows/publish-each-pr.yml
  .github/workflows/publish.yml
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/src/Examples/BottomNavigationExample.tsx
  example/src/index.tsx
  example/yarn.lock
  package.json
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButton.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
  src/components/__tests__/__snapshots__/AnimatedFAB.test.js.snap
  src/components/__tests__/__snapshots__/Avatar.test.js.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.js.snap
  src/components/__tests__/__snapshots__/IconButton.test.js.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
  testSetup.js
  yarn.lock
Labels: Hacktoberfest

#3041 fix: correct Card animation drivers related to elevation
  example/src/Examples/CardExample.tsx
  example/src/index.tsx
  src/components/Card/Card.tsx
Labels: Card

#3032 feat: add event listeners for Avatar.Image
  src/components/Avatar/AvatarImage.tsx
  src/components/__tests__/Avatar.test.js
Labels: Avatar

#3053 feat: update material you theming
  babel.config.js
  example/src/Examples/AppbarExample.tsx
  example/src/Examples/TextInputExample.tsx
  package.json
  src/babel/__fixtures__/rewrite-imports/output.js
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/AppbarAction.tsx
  src/components/Appbar/AppbarContent.tsx
  src/components/Avatar/AvatarIcon.tsx
  src/components/Avatar/AvatarText.tsx
  src/components/Badge.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/Button.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardCover.tsx
  src/components/Chip.tsx
  src/components/DataTable/DataTableHeader.tsx
  src/components/DataTable/DataTableRow.tsx
  src/components/Divider.tsx
  src/components/FAB/AnimatedFAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/Menu/MenuItem.tsx
  src/components/Switch.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/components/__tests__/Avatar.test.js
  src/components/__tests__/Badge.test.js
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/Button.test.js
  src/components/__tests__/IconButton.test.js
  src/components/__tests__/ListAccordion.test.js
  src/components/__tests__/ListItem.test.js
  src/components/__tests__/ListSection.test.js
  src/components/__tests__/Switch.test.js
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/Typography/Caption.test.js
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/core/Provider.tsx
  src/core/__tests__/Provider.test.js
  src/core/theming.tsx
  src/index.tsx
  src/styles/overlay.tsx
  src/styles/shadow.tsx
  src/styles/themes/v2/DarkTheme.tsx
  src/styles/themes/v2/LightTheme.tsx
  src/styles/themes/v2/colors.tsx
  src/styles/themes/v3/DarkTheme.tsx
  src/styles/themes/v3/LightTheme.tsx
  src/styles/themes/v3/tokens.tsx
  src/types.tsx
  yarn.lock
Labels: Material You
