Repository callstack/react-native-paper, pull requests merged in 2022-04, with the labels that each got.

#3159 fix: correct font weights
  src/styles/themes/v3/tokens.tsx
Labels: Typography, Material You

#3151 fix: correct elevation when switching modes
  src/components/Button.tsx
  src/components/__tests__/__snapshots__/Banner.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/Menu.test.js.snap
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
Labels: Button

#3145 fix: controlled text input
  src/components/TextInput/TextInput.tsx
Labels: TextInput

#3165 fix: fix font weights for Android
  src/components/Typography/AnimatedText.tsx
  src/components/Typography/Text.tsx
  src/styles/themes/v3/tokens.tsx
Labels: Typography, Material You
