Repository callstack/react-native-paper, pull requests merged in 2022-07, with the labels that each got.

#3238 fix: add style fallback in Surface
  src/components/Surface.tsx
Labels: Surface

#3241 fix: correct center-aligned mode in AppbarHeader
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/utils.ts
  src/components/__tests__/Appbar/Appbar.test.js
Labels: Appbar

#3176 feat: shifting scene animation for BottomNavigator
  docs/assets/screenshots/bottom-navigation-shifting.gif
  docs/pages/10.migration-guide-to-5.0.md
  example/src/Examples/BottomNavigationExample.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation

#3227 feat: update types to match global approach
  docs/pages/10.migration-guide-to-5.0.md
  docs/pages/2.theming.md
  example/index.d.ts
  example/src/index.tsx
  index.d.ts
  src/components/List/ListSubheader.tsx
  src/components/TextInput/helpers.tsx
  src/components/__tests__/TextInput.test.js
  src/core/Provider.tsx
  src/core/__tests__/Provider.test.js
  src/core/theming.tsx
  src/index.tsx
  src/styles/overlay.tsx
  src/styles/themes/index.ts
  src/styles/themes/v2/DarkTheme.tsx
  src/styles/themes/v2/LightTheme.tsx
  src/styles/themes/v3/DarkTheme.tsx
  src/styles/themes/v3/LightTheme.tsx
  src/types.tsx
Labels: wip, Theme, Material You

#3245 docs: improve readability
  docs/pages/10.migration-guide-to-5.0.md
Labels: docs

#3247 fix: correct v2 should center appbar
  src/components/Appbar/Appbar.tsx
  src/components/__tests__/Appbar/Appbar.test.js
Labels: Appbar

#3249 docs: update theming and getting started sections
  docs/pages/1.getting-started.md
  docs/pages/2.theming.md
Labels: docs

#3259 fix: correct changing Dialog backdrop color
  src/components/Dialog/Dialog.tsx
  src/components/FAB/FABGroup.tsx
  src/components/Modal.tsx
  src/components/__tests__/Modal.test.js
Labels: Dialog, FAB

#3280 fix: support font variant in text input
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3264 fix: adjust Badge line height to the font scale
  src/components/Badge.tsx
  src/components/__tests__/Badge.test.js
  src/components/__tests__/BottomNavigation.test.js
Labels: Badge
