Repository callstack/react-native-paper, pull requests merged in 2022-06, with the labels that each got.

#3120 feat: adjust Checkbox and RadioButton
  example/src/Examples/CheckboxExample.tsx
  example/src/Examples/CheckboxItemExample.tsx
  example/src/Examples/RadioButtonExample.tsx
  example/src/Examples/RadioButtonGroupExample.tsx
  example/src/Examples/RadioButtonItemExample.tsx
  example/src/Examples/SwitchExample.tsx
  src/components/Checkbox/CheckboxAndroid.tsx
  src/components/Checkbox/CheckboxIOS.tsx
  src/components/Checkbox/CheckboxItem.tsx
  src/components/Checkbox/utils.ts
  src/components/RadioButton/RadioButtonAndroid.tsx
  src/components/RadioButton/RadioButtonIOS.tsx
  src/components/RadioButton/RadioButtonItem.tsx
  src/components/Switch/Switch.tsx
  src/components/Switch/utils.ts
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
  src/components/__tests__/Checkbox/utils.test.js
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
  src/components/__tests__/Switch.test.js
  src/components/__tests__/__snapshots__/Switch.test.js.snap
  src/index.tsx
Labels: RadioButton, Checkbox, Switch, Material You

#3187 feat: adjust IconButton to Material You
  example/src/Examples/IconButtonExample.tsx
  src/components/Appbar/AppbarAction.tsx
  src/components/Button/Button.tsx
  src/components/DataTable/DataTablePagination.tsx
  src/components/IconButton.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/utils.ts
  src/components/Searchbar.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/IconButton.test.js
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/IconButton.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
  src/index.tsx
  src/styles/themes/v3/DarkTheme.tsx
  src/styles/themes/v3/LightTheme.tsx
Labels: Icon Button, Material You

#3192 refactor: correct MD3 default appbar height
  example/src/Examples/AppbarExample.tsx
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/AppbarContent.tsx
  src/components/Appbar/utils.ts
Labels: Appbar, Material You

#3158 feat: adjust Card
  example/src/Examples/CardExample.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardActions.tsx
  src/components/Card/CardCover.tsx
  src/components/Card/CardTitle.tsx
  src/components/Card/helpers.tsx
  src/components/__tests__/Card/__snapshots__/Card.test.js.snap
Labels: Card, Material You

#2484 chore: remove deprecated accessibility props
  src/components/Appbar/AppbarContent.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/Button/Button.tsx
  src/components/Checkbox/CheckboxAndroid.tsx
  src/components/Checkbox/CheckboxIOS.tsx
  src/components/Chip/Chip.tsx
  src/components/Dialog/DialogTitle.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/FABGroup.tsx
  src/components/List/ListAccordion.tsx
  src/components/RadioButton/RadioButtonAndroid.tsx
  src/components/RadioButton/RadioButtonIOS.tsx
  src/components/Searchbar.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
Labels: breaking change, Keep opened, Accessibility, Material You

#3193 docs: migration guide
  .circleci/comment-artifacts.sh
  docs/assets/migration/color-palette.png
  docs/assets/styles.css
  docs/component-docs.config.js
  docs/pages/10.migration-guide-to-5.0.md
Labels: docs, Material You

#3195 refactor: correct disabling RadioButtonItem, add missing a11y props
  example/src/Examples/RadioButtonItemExample.tsx
  src/components/Checkbox/CheckboxItem.tsx
  src/components/RadioButton/RadioButtonItem.tsx
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
Labels: RadioButton, Accessibility

#3199 fix: correct icon button surface
  src/components/IconButton/IconButton.tsx
  src/components/ToggleButton/utils.ts
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/IconButton.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
Labels: Icon Button, Material You

#3207 fix: refactor fonts in components, themes and types
  src/components/Appbar/AppbarContent.tsx
  src/components/Badge.tsx
  src/components/Button/Button.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/Drawer/DrawerSection.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/List/ListSubheader.tsx
  src/components/Searchbar.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/Typography/AnimatedText.tsx
  src/components/Typography/Text.tsx
  src/components/Typography/v2/StyledText.tsx
  src/components/Typography/v2/Text.tsx
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
  src/styles/themes/v2/DarkTheme.tsx
  src/styles/themes/v3/DarkTheme.tsx
  src/styles/themes/v3/LightTheme.tsx
  src/styles/themes/v3/tokens.tsx
  src/types.tsx
Labels: Typography, Material You

#3208 refactor: set theme v3 as default, update theming docs
  docs/pages/10.migration-guide-to-5.0.md
  docs/pages/2.theming.md
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/Card/__snapshots__/Card.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
  src/components/__tests__/Drawer/__snapshots__/DrawerSection.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButton.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/Typography/__snapshots__/Caption.test.js.snap
  src/components/__tests__/Typography/__snapshots__/Text.test.js.snap
  src/components/__tests__/__snapshots__/ActivityIndicator.test.js.snap
  src/components/__tests__/__snapshots__/AnimatedFAB.test.js.snap
  src/components/__tests__/__snapshots__/Avatar.test.js.snap
  src/components/__tests__/__snapshots__/Badge.test.js.snap
  src/components/__tests__/__snapshots__/Banner.test.js.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.js.snap
  src/components/__tests__/__snapshots__/IconButton.test.js.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/components/__tests__/__snapshots__/Menu.test.js.snap
  src/components/__tests__/__snapshots__/MenuItem.test.js.snap
  src/components/__tests__/__snapshots__/ProgressBar.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
  src/components/__tests__/__snapshots__/Switch.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
  src/core/theming.tsx
Labels: Theme, Material You

#3210 fix: correct web font
  example/src/Examples/CardExample.tsx
  src/styles/themes/v3/tokens.tsx
Labels: web, Card, Typography, Material You

#3222 refactor: extract getTheme util to the theming
  src/components/__tests__/Appbar/Appbar.test.js
  src/components/__tests__/Button.test.js
  src/components/__tests__/Checkbox/utils.test.js
  src/components/__tests__/Chip.test.js
  src/components/__tests__/FAB.test.js
  src/components/__tests__/IconButton.test.js
  src/components/__tests__/MenuItem.test.js
  src/components/__tests__/Switch.test.js
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/ToggleButton.test.js
  src/core/theming.tsx
Labels: Theme

#3224 feat: add ability to provide version in provider
  src/core/Provider.tsx
  src/core/__tests__/Provider.test.js
Labels: Material You

#3219 fix: correct Card colors
  src/components/Card/Card.tsx
  src/components/Card/CardCover.tsx
  src/components/Card/utils.tsx
  src/components/__tests__/Card/Card.test.js
Labels: Card, Material You

#3156 feat: add FAB size prop
  example/src/Examples/FABExample.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/utils.ts
  src/components/__tests__/FAB.test.js
  src/components/__tests__/__snapshots__/FAB.test.js.snap
Labels: FAB, Material You

#3206 chore: upgrade expo to 45, react-native to .68
  example/package.json
  example/yarn.lock
  package.json
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
  src/components/__tests__/Card/__snapshots__/Card.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.js.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButton.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.js.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.js.snap
  src/components/__tests__/__snapshots__/ActivityIndicator.test.js.snap
  src/components/__tests__/__snapshots__/AnimatedFAB.test.js.snap
  src/components/__tests__/__snapshots__/Badge.test.js.snap
  src/components/__tests__/__snapshots__/Banner.test.js.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
  src/components/__tests__/__snapshots__/Button.test.js.snap
  src/components/__tests__/__snapshots__/Chip.test.js.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.js.snap
  src/components/__tests__/__snapshots__/IconButton.test.js.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.js.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/ListSection.test.js.snap
  src/components/__tests__/__snapshots__/Menu.test.js.snap
  src/components/__tests__/__snapshots__/MenuItem.test.js.snap
  src/components/__tests__/__snapshots__/ProgressBar.test.js.snap
  src/components/__tests__/__snapshots__/Searchbar.test.js.snap
  src/components/__tests__/__snapshots__/Snackbar.test.js.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.js.snap
  src/core/__tests__/Provider.test.js
  yarn.lock
Labels: example app, dependencies

#3226 docs: add information about FAB customSize prop
  docs/pages/10.migration-guide-to-5.0.md
Labels: docs

#3211 chore: update react-native-vector-icons
  docs/package.json
  docs/pages/src/components/IconsList.js
  docs/yarn.lock
  example/package.json
  example/src/Examples/BottomNavigationExample.tsx
  example/yarn.lock
  package.json
  yarn.lock
Labels: dependencies
