Repository callstack/react-native-paper, pull requests merged in 2023-09, with the labels that each got.

#4051 fix: apply accessible prop to touchable in Card.tsx
  src/components/Card/Card.tsx
Labels: Card

#4058 fix: list item flex properties
  src/components/List/ListItem.tsx
  src/components/__tests__/__snapshots__/ListAccordion.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListSection.test.tsx.snap
Labels: List

#3899 fix: unfocused TextInput label disappears on new architecture (#3776)
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
Labels: TextInput, New architecture

#4084 fix: textinput sizing for react-native-web@0.19
  example/assets/fonts/Abel-Regular.ttf
  example/src/Examples/TextInputExample.tsx
  example/src/index.native.tsx
  example/src/index.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/TextInput.test.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#4076 fix: using direct dark prop in appbar
  example/src/Examples/AppbarExample.tsx
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/AppbarHeader.tsx
  src/components/Appbar/utils.ts
  src/components/__tests__/Appbar/Appbar.test.tsx
Labels: Appbar

#4055 fix: correct touchable radius
  example/src/Examples/ButtonExample.tsx
  src/components/Button/Button.tsx
  src/components/__tests__/Button.test.tsx
Labels: Button

#4085 fix: create internal back handler to avoid errors on web
  src/components/Menu/Menu.tsx
  src/components/Modal.tsx
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/utils/BackHandler/BackHandler.native.tsx
  src/utils/BackHandler/BackHandler.tsx
Labels: web, Menu, Modal

#4056 fix: resolve circular dependencies
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/utils.ts
  src/components/TextInput/types.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/react-navigation/types.tsx
Labels: Appbar, TextInput

#3941 fix: set input min width
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/types.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#4086 fix: adjust top padding for outlined input without label
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Addons/Outline.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput
