Repository callstack/react-native-paper, pull requests merged in 2023-03, with the labels that each got.

#3715 docs: configure edit url link
  docs/docusaurus.config.js
Labels: docs

#3720 docs: fix get started button
  docs/src/components/GetStartedButtons.tsx
Labels: docs

#3725 docs: update code snippets
  docs/docs/guides/08-theming-with-react-navigation.md
Labels: docs

#3719 fix: changed accessibility label based on onPress callback
  src/components/Appbar/AppbarContent.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
Labels: Appbar, Accessibility

#3721 fix: fix paths in sourcemap files
  package.json
  yarn.lock
Labels: dependencies

#3686 fix: correct text color
  src/components/HelperText.tsx
  src/components/__tests__/HelperText.test.tsx
Labels: HelperText

#3662 refactor: fix performance of InputLabel
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/types.tsx
Labels: TextInput

#3660 fix: allow for custom variants in `Text` (with factory)
  docs/docs/guides/04-fonts.md
  example/src/Examples/TextExample.tsx
  src/components/Appbar/AppbarContent.tsx
  src/components/Typography/AnimatedText.tsx
  src/components/Typography/Text.tsx
  src/components/Typography/types.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.tsx.snap
  src/components/__tests__/Typography/Text.test.tsx
  src/components/__tests__/Typography/__snapshots__/Text.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.tsx.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListSection.test.tsx.snap
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/MenuItem.test.tsx.snap
  src/components/__tests__/__snapshots__/SegmentedButton.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
  src/index.tsx
Labels: Typography, Typescript

#3711 fix: correct label color for v2
  src/components/BottomNavigation/utils.ts
  src/components/__tests__/BottomNavigation.test.tsx
Labels: BottomNavigation

#3709 fix: adjust surface wrapper opacity
  src/components/Banner.tsx
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
Labels: Banner

#3699 refactor: replace MaterialCommunityIcon in favor of internal Icon
  src/components/Appbar/AppbarBackIcon.tsx
  src/components/Checkbox/CheckboxAndroid.tsx
  src/components/Checkbox/CheckboxIOS.tsx
  src/components/Chip/Chip.tsx
  src/components/DataTable/DataTablePagination.tsx
  src/components/DataTable/DataTableTitle.tsx
  src/components/Icon.tsx
  src/components/List/ListAccordion.tsx
  src/components/RadioButton/RadioButtonIOS.tsx
  src/components/Searchbar.tsx
  src/components/Snackbar.tsx
Labels: Icons

#3701 fix: Segment checked state
  example/src/Examples/SegmentedButtons/SegmentedButtonCustomColorCheck.tsx
  example/src/Examples/SegmentedButtons/index.ts
  example/src/Examples/SegmentedButtonsExample.tsx
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/SegmentedButtons/SegmentedButtons.tsx
  src/components/SegmentedButtons/utils.ts
  src/components/__tests__/SegmentedButton.test.tsx
  src/components/__tests__/__snapshots__/SegmentedButton.test.tsx.snap
Labels: SegmenetedButtons

#3679 feat: Add onClearIconPress to SearchBar
  example/src/Examples/SearchbarExample.tsx
  src/components/Searchbar.tsx
  src/components/__tests__/Searchbar.test.tsx
Labels: Searchbar

#3724 feat: add prop accessibilityState for Menu.Item
  src/components/Menu/MenuItem.tsx
  src/components/__tests__/MenuItem.test.tsx
Labels: Menu

#3728 fix: input label positioning regression
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
Labels: TextInput

#3582 refactor: adjust searchbar to the latest md guidelines
  example/src/Examples/SearchbarExample.tsx
  example/src/ScreenWrapper.tsx
  src/components/Searchbar.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Searchbar.test.tsx
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
Labels: Searchbar, Material You (v5)

#3727 feat: support for titleMaxFontSizeMultiplier
  src/components/Menu/MenuItem.tsx
  src/components/__tests__/MenuItem.test.tsx
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/MenuItem.test.tsx.snap
Labels: Menu

#3726 fix: input's adornment and helper disabled colors
  docs/docusaurus.config.js
  example/src/Examples/TextInputExample.tsx
  src/components/HelperText/HelperText.tsx
  src/components/HelperText/utils.ts
  src/components/TextInput/Adornment/TextInputAdornment.tsx
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/TextInput/Adornment/utils.ts
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/helpers.tsx
  src/components/__tests__/HelperText.test.tsx
  src/components/__tests__/TextInput.test.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/index.tsx
Labels: TextInput

#3745 fix: revert 'replace MaterialCommunityIcon in favor of internal Icon'
  src/components/Appbar/AppbarBackIcon.tsx
  src/components/Checkbox/CheckboxAndroid.tsx
  src/components/Checkbox/CheckboxIOS.tsx
  src/components/Chip/Chip.tsx
  src/components/DataTable/DataTablePagination.tsx
  src/components/DataTable/DataTableTitle.tsx
  src/components/Icon.tsx
  src/components/List/ListAccordion.tsx
  src/components/RadioButton/RadioButtonIOS.tsx
  src/components/Searchbar.tsx
  src/components/Snackbar.tsx
Labels: Icons

#3735 fix: sync `TouchableRipple` prop types
  src/components/TouchableRipple/TouchableRipple.native.tsx
  tsconfig.json
Labels: TouchableRipple

#3746 chore: install use-latest-callback
  package.json
  src/components/Banner.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/Modal.tsx
  src/components/Snackbar.tsx
  yarn.lock
Labels: dependencies

#3747 docs: add configuration for component's more examples
  docs/component-docs-plugin/generatePageMDX.js
  docs/docusaurus.config.js
Labels: docs, Portal

#3734 docs: fix broken documentation links after upgrading docs to docusaurus
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/docs/guides/02-theming.mdx
  docs/docs/guides/08-theming-with-react-navigation.md
  docs/docs/guides/10-migration-guide-to-5.0.md
  docs/docs/guides/9-react-navigation.md
  docs/public/3.0/appbar.html
  docs/public/3.0/bottom-navigation.html
  docs/public/3.0/surface.html
  docs/public/4.0/appbar.html
  docs/public/4.0/bottom-navigation.html
  docs/public/4.0/icon-button.html
  docs/public/4.0/integrate-app-bar-with-react-navigation.html
  docs/public/4.0/list-item.html
  docs/public/4.0/surface.html
  docs/public/4.0/theming-with-react-navigation.html
  src/components/Appbar/Appbar.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/IconButton/IconButton.tsx
  src/components/List/ListItem.tsx
  src/components/MaterialCommunityIcon.tsx
  src/components/Portal/PortalConsumer.tsx
  src/components/Surface.tsx
Labels: docs

#3738 refactor: iOS `Surface` major refactoring
  example/src/Examples/SurfaceExample.tsx
  src/components/FAB/FAB.tsx
  src/components/Surface.tsx
  src/components/__tests__/AnimatedFAB.test.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Banner.test.tsx
  src/components/__tests__/BottomNavigation.test.tsx
  src/components/__tests__/Button.test.tsx
  src/components/__tests__/Card/Card.test.tsx
  src/components/__tests__/Card/__snapshots__/Card.test.tsx.snap
  src/components/__tests__/Chip.test.tsx
  src/components/__tests__/FAB.test.tsx
  src/components/__tests__/FABGroup.test.tsx
  src/components/__tests__/IconButton.test.tsx
  src/components/__tests__/Menu.test.tsx
  src/components/__tests__/Modal.test.tsx
  src/components/__tests__/Searchbar.test.tsx
  src/components/__tests__/Snackbar.test.tsx
  src/components/__tests__/Surface.test.tsx
  src/components/__tests__/ToggleButton.test.tsx
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/IconButton.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.tsx.snap
  src/utils/__tests__/splitStyles.test.ts
  src/utils/splitStyles.ts
Labels: Surface

#3754 docs: correct type links, add admonitions, support extends annotation
  CONTRIBUTING.md
  docs/component-docs-plugin/generatePageMDX.js
  docs/docs/guides/01-getting-started.md
  docs/docs/guides/02-theming.mdx
  docs/docs/guides/04-fonts.md
  docs/docs/guides/10-migration-guide-to-5.0.md
  docs/docusaurus.config.js
  docs/src/components/PropTable.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Drawer/DrawerCollapsedItem.tsx
  src/components/FAB/FABGroup.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Modal.tsx
  src/components/Portal/Portal.tsx
  src/components/Surface.tsx
  src/components/TextInput/TextInput.tsx
  src/components/ToggleButton/ToggleButtonGroup.tsx
Labels: docs

#3758 fix: add onTabLongPress for Bottom Navigation
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/__tests__/BottomNavigation.test.tsx
Labels: BottomNavigation

#3741 chore: use TS generics for BottomTab types
  example/src/Examples/BottomNavigationBarExample.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/__tests__/BottomNavigation.test.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/react-navigation/__tests__/adapter.v6.test.ts
  src/react-navigation/__tests__/adapter.v7.test.ts
  src/react-navigation/adapter.ts
  src/react-navigation/types.tsx
  src/react-navigation/views/MaterialBottomTabView.tsx
Labels: BottomNavigation, TypeScript

#3764 docs: comment for TypeScript users
  docs/docs/guides/04-fonts.md
Labels: docs

#3779 refactor: fix `splitStyles` for Expo Snack
  src/utils/splitStyles.ts
Labels: TypeScript

#3770 fix: remove abstraction function from event emitter
  src/react-navigation/types.tsx
  src/react-navigation/views/MaterialBottomTabView.tsx
Labels: BottomNavigation

#3773 docs: explain how to sync dynamic colors with system colors
  docs/docs/guides/02-theming.mdx
  docs/docs/guides/06-recommended-libraries.md
Labels: docs, Theme

#3782 docs: integrate appbar with react-navigation doc adjustments
  docs/docs/guides/9-react-navigation.md
  docs/static/screenshots/react-navigation-appBar1.png
  docs/static/screenshots/react-navigation-appBar2.gif
  docs/static/screenshots/react-navigation-appBar3.gif
  docs/static/screenshots/react-navigation-appBar4.gif
Labels: docs

#3784 docs: correct typo in code snippet for combining themes with React Navigation
  docs/docs/guides/08-theming-with-react-navigation.md
Labels: docs

#3778 feat: add support for fontStyle
  docs/docs/guides/04-fonts.md
  src/styles/__tests__/fonts.test.js
  src/types.tsx
Labels: Typography
