Repository callstack/react-native-paper, pull requests merged in 2023-10, with the labels that each got.

#4115 fix(text-input): remove text duplication of label as component
  example/src/Examples/TextInputExample.tsx
  example/utils/index.ts
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/Label/LabelBackground.tsx
Labels: TextInput

#4095 fix: configureFonts should be deterministic
  src/styles/__tests__/fonts.test.js
  src/styles/fonts.tsx
Labels: utilities

#4132 docs: add annotation for bottom navigation tab bar color prop
  docs/docs/guides/09-bottom-navigation.md
  src/components/BottomNavigation/BottomNavigation.tsx
  src/react-navigation/types.tsx
Labels: docs, BottomNavigation

#4014 feat: exported Icon component
  docs/docusaurus.config.js
  docs/src/data/screenshots.js
  docs/static/screenshots/icon.png
  example/src/ExampleList.tsx
  example/src/Examples/IconExample.tsx
  src/components/Icon.tsx
  src/index.tsx
Labels: Icons

#4135 refactor: add unit test and adjust icon example screen
  example/src/Examples/IconExample.tsx
  src/components/Icon.tsx
  src/components/MaterialCommunityIcon.tsx
  src/components/__tests__/Icon.test.tsx
  src/core/settings.tsx
Labels: Icon

#4134 docs: render cell react element without text container
  src/components/DataTable/DataTableCell.tsx
  src/components/__tests__/DataTable.test.tsx
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
Labels: DataTable

#3909 feat: add hover support to web
  src/components/TouchableRipple/Pressable.tsx
  src/components/TouchableRipple/TouchableRipple.native.tsx
  src/components/TouchableRipple/TouchableRipple.tsx
Labels: web

#4128 fix: adjust Text Input label width
  src/components/TextInput/Label/InputLabel.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: web, TextInput

#3823 feat: support for maxFontSizeMultiplier in text component
  src/components/Appbar/AppbarContent.tsx
  src/components/Avatar/AvatarText.tsx
  src/components/Banner.tsx
  src/components/Button/Button.tsx
  src/components/Card/CardTitle.tsx
  src/components/Checkbox/CheckboxItem.tsx
  src/components/Chip/Chip.tsx
  src/components/DataTable/DataTableCell.tsx
  src/components/DataTable/DataTableTitle.tsx
  src/components/Drawer/DrawerCollapsedItem.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/Drawer/DrawerSection.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/FABGroup.tsx
  src/components/List/ListAccordion.tsx
  src/components/List/ListItem.tsx
  src/components/List/ListSubheader.tsx
  src/components/RadioButton/RadioButtonItem.tsx
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/Snackbar.tsx
  src/components/Tooltip/Tooltip.tsx
Labels: Typography

#4150 chore: forward ref to `Button`
  src/components/Button/Button.tsx
  src/utils/forwardRef.tsx
Labels: Button
