Repository callstack/react-native-paper, pull requests merged in 2023-08, with the labels that each got.

#4010 chore: bump theme provider, remove patch
  package.json
  patches/@callstack+react-theme-provider+3.0.8.patch
  yarn.lock
Labels: dependencies

#3980 fix: use theme background for transparent text inputs
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/__tests__/TextInput.test.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#3997 fix: adjust progress bar wrapper height on web
  example/src/Examples/ProgressBarExample.tsx
  src/components/ProgressBar.tsx
  src/components/__tests__/ProgressBar.test.tsx
  src/components/__tests__/__snapshots__/ProgressBar.test.tsx.snap
Labels: ProgressBar

#3996 fix: correct overriding border radius
  example/src/Examples/CardExample.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardCover.tsx
  src/components/Card/utils.tsx
  src/components/__tests__/Card/Card.test.tsx
  src/components/__tests__/Card/__snapshots__/Card.test.tsx.snap
Labels: Card

#3994 fix: chip style
  src/components/Chip/Chip.tsx
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
Labels: Chip

#4008 fix: adjust offset target value for translation on axis y
  src/components/BottomNavigation/BottomNavigation.tsx
Labels: BottomNavigation

#3858 fix: added style to component used for text measurement on Android
  src/components/FAB/AnimatedFAB.tsx
Labels: AnimatedFAB

#4001 fix: add missing `rippleColor` in `FAB`
  src/components/FAB/FABGroup.tsx
  src/components/__tests__/FABGroup.test.tsx
Labels: FAB

#3969 feat: option for hiding check icon on selected chip
  src/components/Chip/Chip.tsx
Labels: Chip

#4003 fix: add missing `rippleColor` in components' nested pressables
  src/components/Appbar/AppbarAction.tsx
  src/components/DataTable/DataTablePagination.tsx
  src/components/Searchbar.tsx
  src/components/Snackbar.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Searchbar.test.tsx
  src/components/__tests__/Snackbar.test.tsx
  src/components/__tests__/ToggleButton.test.tsx
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
  src/components/__tests__/__snapshots__/SegmentedButton.test.tsx.snap
Labels: Appbar, DataTable, TextInput, ToggleButton, Searchbar, Snackbar

#4018 docs: create correct prop header to be displayed in TOC
  docs/component-docs-plugin/generatePageMDX.js
  docs/src/components/PropTable.tsx
  docs/src/css/custom.css
  src/components/Card/CardTitle.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
Labels: docs

#4016 fix: selection and cursor colors
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Addons/Outline.tsx
  src/components/TextInput/Addons/Underline.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/helpers.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#4033 fix: custom colors list in docs theme builder
  docs/src/components/DynamicColorTheme.tsx
Labels: docs, Theme

#4037 docs: adjust guide for using createMaterialBottomTabNavigator
  docs/docs/guides/09-bottom-navigation.md
  docs/docs/guides/09-react-navigation.md
  docs/docusaurus.config.js
  src/react-navigation/navigators/createMaterialBottomTabNavigator.tsx
Labels: docs, BottomNavigation
