Repository callstack/react-native-paper, pull requests merged in 2023-11, with the labels that each got.

#4166 docs: Add Bluebirding Application to Showcase
  docs/package.json
  docs/src/components/Showcase.tsx
  docs/static/showcase/bluebirding.png
  docs/yarn.lock
Labels: docs

#4160 fix: update FABGroup.tsx
  src/components/FAB/FABGroup.tsx
Labels: FAB

#4189 fix: add rippleColor prop
  src/components/Checkbox/CheckboxItem.tsx
  src/components/RadioButton/RadioButtonItem.tsx
Labels: RadioButton, Checkbox

#4192 chore: wrap `TouchableRipple` in `forwardRef`
  src/components/TouchableRipple/TouchableRipple.native.tsx
  src/components/TouchableRipple/TouchableRipple.tsx
Labels: TouchableRipple

#4188 fix: set default cursor for menu pressable overlay
  src/components/Menu/Menu.tsx
Labels: Menu

#4173 fix(text): variant loss with child component
  src/components/Typography/Text.tsx
  src/components/__tests__/Typography/Text.test.tsx
Labels: Typography

#4158 fix: tooltip behaviour on web
  example/src/Examples/TooltipExample.tsx
  src/components/Tooltip/Tooltip.tsx
Labels: Tooltip

#4199 fix: correct input label max width
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/constants.tsx
  src/components/TextInput/helpers.tsx
  src/components/TextInput/types.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#4204 fix: passing external on layout
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/types.tsx
Labels: TextInput

#4117 refactor: replace `TouchableWithoutFeedback` with `Pressable`
  example/src/Examples/ChipExample.tsx
  src/components/Appbar/AppbarContent.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/Card/Card.tsx
  src/components/Chip/Chip.tsx
  src/components/DataTable/DataTableTitle.tsx
  src/components/Drawer/DrawerCollapsedItem.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/FAB/FABGroup.tsx
  src/components/Modal.tsx
  src/components/__tests__/Card/Card.test.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
Labels: Appbar, Card, DataTable, Drawer, FAB, BottomNavigation, Chip, Modal
