Repository callstack/react-native-paper, pull requests merged in 2023-01, with the labels that each got.

#3562 docs: Fix typo in `Card` doc
  src/components/Card/Card.tsx
Labels: docs

#3567 docs: Replace Paragraph with Text anywhere
  docs/pages/8.theming-with-react-navigation.md
  example/src/Examples/BadgeExample.tsx
  example/src/Examples/ProgressBarExample.tsx
  example/src/Examples/TouchableRippleExample.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardContent.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/DialogContent.tsx
  src/components/Dialog/DialogIcon.tsx
  src/components/Dialog/DialogTitle.tsx
Labels: docs

#3584 fix: allow to override card border color using styles
  src/components/Card/Card.tsx
  src/components/__tests__/Card/Card.test.js
Labels: Card

#3543 fix: Made ToggleButton.Group TS compatible
  example/src/Examples/ToggleButtonExample.tsx
  src/components/ToggleButton/ToggleButtonGroup.tsx
Labels: ToggleButton

#3574 fix: adjust condition for displaying icon
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/__tests__/SegmentedButton.test.js
  src/components/__tests__/__snapshots__/SegmentedButton.test.js.snap
Labels: SegmenetedButtons

#3592 fix: activeColor and inactiveColor to match icon colors
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/utils.ts
  src/components/__tests__/BottomNavigation.test.js
  src/components/__tests__/__snapshots__/BottomNavigation.test.js.snap
Labels: BottomNavigation

#3613 fix: adjust label and icon props optionality
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
Labels: FAB, Typescript

#3596 fix: appbar content title container adjustments
  src/components/Appbar/AppbarContent.tsx
  src/components/__tests__/Appbar/Appbar.test.js
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.js.snap
Labels: Appbar

#3597 fix: calls onLayout on input affix
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/__tests__/TextInput.test.js
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3603 fix: TypeScript bloat
  .circleci/config.yml
  scripts/typescript-output-lint.js
  src/components/Appbar/AppbarAction.tsx
  src/components/Appbar/AppbarBackAction.tsx
  src/components/FAB/FAB.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Searchbar.tsx
  src/components/TextInput/TextInput.tsx
  src/utils/forwardRef.tsx
Labels: Typescript

#3625 docs: minor layout updates on the new docs
  docusaurus/component-docs-plugin/index.js
  docusaurus/docusaurus.config.js
  docusaurus/src/css/custom.css
Labels: docs

#3627 docs: add npm2yarn plugin and update all docs to use it
  docusaurus/docs/guides/01-getting-started.md
  docusaurus/docs/guides/05-react-native-web.md
  docusaurus/docs/guides/09-theming-with-react-navigation.md
  docusaurus/docs/guides/11-migration-guide-to-5.0.md
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: docs
