Repository callstack/react-native-paper, pull requests merged in 2023-04, with the labels that each got.

#3767 fix: appbar header ignores border bottom radius
  src/components/Appbar/AppbarHeader.tsx
  src/components/Appbar/utils.ts
  src/components/__tests__/Appbar/Appbar.test.tsx
Labels: Appbar

#3794 chore: remove disabled accessibility trait for `AppbarContent` and `Card`
  example/src/Examples/AppbarExample.tsx
  src/components/Appbar/AppbarContent.tsx
  src/components/Card/Card.tsx
  src/components/Card/CardTitle.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Card/Card.test.tsx
  src/components/__tests__/Card/__snapshots__/Card.test.tsx.snap
Labels: Accessibility

#3799 feat: support flat and elevated mode
  example/src/Examples/SurfaceExample.tsx
  src/components/Banner.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Chip/Chip.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/Snackbar.tsx
  src/components/Surface.tsx
  src/components/__tests__/Surface.test.tsx
Labels: Surface

#3802 test: use testing library for snapshots
  src/components/Menu/Menu.tsx
  src/components/__tests__/ActivityIndicator.test.tsx
  src/components/__tests__/AnimatedFAB.test.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Avatar.test.tsx
  src/components/__tests__/Badge.test.tsx
  src/components/__tests__/Banner.test.tsx
  src/components/__tests__/BottomNavigation.test.tsx
  src/components/__tests__/Button.test.tsx
  src/components/__tests__/Card/Card.test.tsx
  src/components/__tests__/Checkbox/Checkbox.test.tsx
  src/components/__tests__/Checkbox/CheckboxItem.test.tsx
  src/components/__tests__/Chip.test.tsx
  src/components/__tests__/DataTable.test.tsx
  src/components/__tests__/Drawer/DrawerSection.test.tsx
  src/components/__tests__/DrawerItem.test.tsx
  src/components/__tests__/FAB.test.tsx
  src/components/__tests__/IconButton.test.tsx
  src/components/__tests__/ListAccordion.test.tsx
  src/components/__tests__/ListItem.test.tsx
  src/components/__tests__/ListSection.test.tsx
  src/components/__tests__/Menu.test.tsx
  src/components/__tests__/MenuItem.test.tsx
  src/components/__tests__/RadioButton/RadioButton.test.tsx
  src/components/__tests__/RadioButton/RadioButtonGroup.test.tsx
  src/components/__tests__/RadioButton/RadioButtonItem.test.tsx
  src/components/__tests__/Searchbar.test.tsx
  src/components/__tests__/SegmentedButton.test.tsx
  src/components/__tests__/Snackbar.test.tsx
  src/components/__tests__/Switch.test.tsx
  src/components/__tests__/ToggleButton.test.tsx
  src/components/__tests__/Typography/Caption.test.tsx
  src/components/__tests__/Typography/Text.test.tsx
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
Labels: testing

#3791 feat: support for maxFontSizeMutliplier on Checkbox.Item
  src/components/Checkbox/CheckboxItem.tsx
  src/components/__tests__/Checkbox/CheckboxItem.test.tsx
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.tsx.snap
Labels: Checkbox

#3807 feat: add color generator to docs
  docs/material-color-utilities.d.ts
  docs/package.json
  docs/patches/@material+material-color-utilities+0.2.0.patch
  docs/src/components/DynamicColorTheme.tsx
  docs/src/css/custom.css
  docs/src/utils/createDynamicColorTheme.tsx
  docs/src/utils/themes.tsx
  docs/yarn.lock
Labels: docs, utilities

#3803 fix: correct the way how disabling touchable is handled
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Chip/Chip.tsx
  src/components/TouchableRipple/TouchableRipple.native.tsx
  src/components/TouchableRipple/TouchableRipple.tsx
  src/components/__tests__/Button.test.tsx
  src/components/__tests__/Chip.test.tsx
  src/utils/__tests__/hasTouchHandler.test.ts
  src/utils/hasTouchHandler.tsx
Labels: TouchableRipple, Button, Chip

#3812 fix: correct animated fab elevation value
  src/components/FAB/AnimatedFAB.tsx
  src/components/__tests__/AnimatedFAB.test.tsx
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
Labels: AnimatedFAB

#3822 fix: correct content style type
  src/components/TextInput/TextInput.tsx
Labels: TextInput, TypeScript

#3837 docs: Fixed images linking to incorrect path
  docs/docs/guides/9-react-navigation.md
Labels: docs
