Repository callstack/react-native-paper, pull requests merged in 2023-02, with the labels that each got.

#3605 refactor: Fix exhaustive deps linting errors
  src/components/Banner.tsx
  src/components/Modal.tsx
  src/components/ProgressBar.tsx
  src/components/__tests__/Banner.test.js
  src/components/__tests__/Modal.test.js
  src/components/__tests__/ProgressBar.test.js
Labels: linting

#3630 docs: add react-native-web support plugin
  docusaurus/.eslintrc
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/plugins/docusaurus-react-native-plugin.js
  docusaurus/src/components/BannerExample.tsx
  docusaurus/src/pages/index.mdx
  docusaurus/tsconfig.json
  docusaurus/yarn.lock
Labels: docs

#3634 docs: implement a simpler navigation flow
  docusaurus/component-docs-plugin/index.js
  docusaurus/docs/guides/07-contributing.mdx
  docusaurus/docs/guides/08-theming-with-react-navigation.md
  docusaurus/docs/guides/10-migration-guide-to-5.0.md
  docusaurus/docs/guides/9-react-navigation.md
  docusaurus/docs/showcase.mdx
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
Labels: docs

#3623 fix: style types
  package.json
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/AppbarAction.tsx
  src/components/Appbar/AppbarBackAction.tsx
  src/components/Appbar/AppbarHeader.tsx
  src/components/Appbar/utils.ts
  src/components/Banner.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Chip/Chip.tsx
  src/components/Dialog/Dialog.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/FABGroup.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Menu/Menu.tsx
  src/components/Modal.tsx
  src/components/Searchbar.tsx
  src/components/Snackbar.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/components/__tests__/AnimatedFAB.test.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Appbar/react-native-safe-area-context-jest-mock.d.ts
  src/components/__tests__/Banner.test.tsx
  src/components/__tests__/BottomNavigation.test.tsx
  src/components/__tests__/Button.test.tsx
  src/components/__tests__/Card/Card.test.tsx
  src/components/__tests__/Card/__snapshots__/Card.test.tsx.snap
  src/components/__tests__/Chip.test.tsx
  src/components/__tests__/FAB.test.tsx
  src/components/__tests__/FABGroup.test.tsx
  src/components/__tests__/IconButton.test.tsx
  src/components/__tests__/Menu.test.tsx
  src/components/__tests__/Modal.test.tsx
  src/components/__tests__/Searchbar.test.tsx
  src/components/__tests__/Snackbar.test.tsx
  src/components/__tests__/ToggleButton.test.tsx
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/IconButton.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.tsx.snap
  src/core/theming.tsx
  tsconfig.build.json
  yarn.lock
Labels: Typescript

#3632 chore: linter rules to detect `forwardRef` usage
  .eslintrc
  eslint-local-rules/index.js
  eslint-local-rules/no-import-react-forwardref.js
  eslint-local-rules/no-react-forwardref-usage.js
  package.json
  src/components/Surface.tsx
  src/components/ToggleButton/ToggleButton.tsx
  src/components/Typography/Text.tsx
  src/components/Typography/v2/Text.tsx
  src/utils/forwardRef.tsx
  yarn.lock
Labels: linting

#3642 refactor: fix performance of TextInput
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/Label/LabelBackground.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/helpers.tsx
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/utils/roundLayoutSize.ts
Labels: TextInput

#3649 fix: custom input styling in TextInput (#3648)
  example/src/Examples/TextInputExample.tsx
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/TextInput.tsx
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
Labels: TextInput

#3651 fix: custom Button styles nested in Card.Actions
  example/src/Examples/CardExample.tsx
  src/components/Card/CardActions.tsx
  src/components/__tests__/Card/Card.test.tsx
Labels: Card

#3643 fix: fix overriding default props
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/Button/Button.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/__tests__/AnimatedFAB.test.tsx
  src/components/__tests__/BottomNavigation.test.tsx
  src/components/__tests__/Button.test.tsx
  src/components/__tests__/FAB.test.tsx
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
Labels: Theme

#3650 ci: disable auto fix for lint
  .circleci/config.yml
  package.json
  src/components/Modal.tsx
Labels: CI

#3645 feat: allow override of custom theme animation
  src/core/Provider.tsx
  src/core/__tests__/Provider.test.js
Labels: Provider

#3653 fix: passing flex to the shared and inner layer Surface styles
  src/components/Surface.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Card/__snapshots__/Card.test.tsx.snap
  src/components/__tests__/Surface.test.js
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.js.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/IconButton.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.js.snap
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
  src/components/__tests__/__snapshots__/TextInput.test.js.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.tsx.snap
Labels: Surface

#3657 feat: add content style prop to the Card
  src/components/Card/Card.tsx
  src/components/__tests__/Card/Card.test.tsx
  src/components/__tests__/Card/__snapshots__/Card.test.tsx.snap
Labels: Card

#3675 docs: fix copy/paste error
  docs/pages/10.migration-guide-to-5.0.md
Labels: docs

#3680 fix: BannerExample component theme in production
  docs/.eslintrc
  docs/src/components/BannerExample.tsx
Labels: docs

#3692 docs: add algolia search functionality
  docs/docusaurus.config.js
Labels: docs

#3696 docs: update the editUrl in docusaurus config file
  docs/docusaurus.config.js
Labels: docs

#3700 docs: screen flash on initial docs load
  docs/src/components/BannerExample.tsx
  docs/src/components/GetStartedButtons.tsx
Labels: docs

#3705 docs: upgrade docusaurus to v2.3.1
  docs/package.json
  docs/yarn.lock
Labels: docs

#3655 refactor: convert remaining tests to TypeScript
  src/components/__tests__/ActivityIndicator.test.tsx
  src/components/__tests__/Avatar.test.tsx
  src/components/__tests__/Badge.test.tsx
  src/components/__tests__/Checkbox/Checkbox.test.tsx
  src/components/__tests__/Checkbox/CheckboxItem.test.tsx
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.tsx.snap
  src/components/__tests__/Checkbox/utils.test.tsx
  src/components/__tests__/DataTable.test.tsx
  src/components/__tests__/Drawer/DrawerCollapsedItem.test.tsx
  src/components/__tests__/Drawer/DrawerSection.test.tsx
  src/components/__tests__/Drawer/__snapshots__/DrawerSection.test.tsx.snap
  src/components/__tests__/DrawerItem.test.tsx
  src/components/__tests__/ListAccordion.test.tsx
  src/components/__tests__/ListImage.test.tsx
  src/components/__tests__/ListItem.test.tsx
  src/components/__tests__/ListSection.test.tsx
  src/components/__tests__/ListUtils.test.tsx
  src/components/__tests__/MenuItem.test.tsx
  src/components/__tests__/Portal.test.tsx
  src/components/__tests__/ProgressBar.test.tsx
  src/components/__tests__/RadioButton/RadioButton.test.tsx
  src/components/__tests__/RadioButton/RadioButtonGroup.test.tsx
  src/components/__tests__/RadioButton/RadioButtonItem.test.tsx
  src/components/__tests__/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.tsx.snap
  src/components/__tests__/SegmentedButton.test.tsx
  src/components/__tests__/Surface.test.tsx
  src/components/__tests__/Switch.test.tsx
  src/components/__tests__/TextInput.test.tsx
  src/components/__tests__/Tooltip.test.tsx
  src/components/__tests__/Typography/Caption.test.tsx
  src/components/__tests__/Typography/Text.test.tsx
  src/components/__tests__/Typography/__snapshots__/Caption.test.tsx.snap
  src/components/__tests__/Typography/__snapshots__/Text.test.tsx.snap
  src/components/__tests__/__snapshots__/ActivityIndicator.test.tsx.snap
  src/components/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/components/__tests__/__snapshots__/Badge.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.tsx.snap
  src/components/__tests__/__snapshots__/ListImage.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListSection.test.tsx.snap
  src/components/__tests__/__snapshots__/MenuItem.test.tsx.snap
  src/components/__tests__/__snapshots__/Portal.test.tsx.snap
  src/components/__tests__/__snapshots__/ProgressBar.test.tsx.snap
  src/components/__tests__/__snapshots__/SegmentedButton.test.tsx.snap
  src/components/__tests__/__snapshots__/Switch.test.tsx.snap
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/core/__tests__/Provider.test.tsx
  src/core/__tests__/theming.test.tsx
  src/types.tsx
Labels: Typescript

#3713 fix: add missing babel plugin for expo web support
  example/babel.config.js
  package.json
Labels: web
