Repository callstack/react-native-paper, pull requests merged in 2023-05, with the labels that each got.

#3878 docs: Update FAB.tsx
  src/components/FAB/FAB.tsx
Labels: docs, FAB

#3887 fix: iOS Surface flex styles moved to outer layer
  example/src/Examples/ButtonExample.tsx
  src/components/Surface.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Card/__snapshots__/Card.test.tsx.snap
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/IconButton.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.tsx.snap
  src/utils/splitStyles.ts
Labels: Surface

#3875 fix: touchable ripple overlay
  src/components/CrossFadeIcon.tsx
  src/components/TouchableRipple/TouchableRipple.native.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.tsx.snap
  src/components/__tests__/TouchableRipple.test.tsx
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.tsx.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/IconButton.test.tsx.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListSection.test.tsx.snap
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/MenuItem.test.tsx.snap
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
  src/components/__tests__/__snapshots__/SegmentedButton.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.tsx.snap
Labels: TouchableRipple

#3881 feat: add long press support for fab group
  example/src/Examples/FABExample.tsx
  src/components/FAB/FABGroup.tsx
  src/components/__tests__/FABGroup.test.tsx
Labels: FAB

#3863 fix: list item row width
  src/components/List/ListItem.tsx
  src/components/__tests__/__snapshots__/ListAccordion.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListSection.test.tsx.snap
Labels: List

#3865 feat: add dismissableBackButton prop to Dialog
  example/src/Examples/DialogExample.tsx
  example/src/Examples/Dialogs/DialogWithDismissableBackButton.tsx
  example/src/Examples/Dialogs/index.tsx
  src/components/Dialog/Dialog.tsx
  src/components/Modal.tsx
  src/components/__tests__/Dialog.test.tsx
Labels: Dialog, Modal

#3866 feat: add possibility to override touchable ripple color
  docs/docs/guides/11-ripple-effect.md
  example/src/DrawerItems.tsx
  example/src/Examples/ChipExample.tsx
  example/src/index.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/Button/Button.tsx
  src/components/Chip/Chip.tsx
  src/components/Chip/helpers.tsx
  src/components/DataTable/DataTableCell.tsx
  src/components/DataTable/DataTableRow.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/utils.ts
  src/components/Icon.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/utils.ts
  src/components/List/ListAccordion.tsx
  src/components/List/utils.ts
  src/components/Menu/MenuItem.tsx
  src/components/Menu/utils.ts
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/TouchableRipple/TouchableRipple.native.tsx
  src/components/TouchableRipple/TouchableRipple.tsx
  src/components/TouchableRipple/utils.ts
  src/components/__tests__/Chip.test.tsx
  src/components/__tests__/MenuItem.test.tsx
  src/components/__tests__/TouchableRipple.test.tsx
  src/core/PaperProvider.tsx
  src/core/settings.tsx
Labels: TouchableRipple

#3890 style: correct segmented buttons container styles
  example/src/Examples/SegmentedButtons/SegmentedButtonMultiselectRealCase.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonRealCase.tsx
Labels: SegmenetedButtons

#3851 docs: add section for component theme colors
  docs/.eslintrc
  docs/component-docs-plugin/generatePageMDX.js
  docs/docusaurus.config.js
  docs/src/components/ThemeColorsTable.tsx
  docs/src/data/themeColors.js
  docs/src/utils/__tests__/themeColors.test.tsx
  docs/src/utils/themeColors.tsx
Labels: docs
