Repository callstack/react-native-paper, pull requests merged in 2023-06, with the labels that each got.

#3922 docs: fix Appbar.Header default height
  docs/docs/guides/10-migration-guide-to-5.0.md
  src/components/Appbar/AppbarHeader.tsx
Labels: docs, Appbar

#3870 feat: adding createMaterialBottomTabNavigator
  docs/docusaurus.config.js
  docs/static/screenshots/material-bottom-tabs.gif
  src/index.tsx
  src/react-navigation/navigators/createMaterialBottomTabNavigator.tsx
Labels: docs, BottomNavigation

#3927 refactor: keep banner when scrolling
  example/src/Examples/BannerExample.tsx
  src/components/Banner.tsx
Labels: Banner

#3953 docs: correct the pagination example
  src/components/DataTable/DataTable.tsx
Labels: docs, DataTable

#3765 fix: tooltips not working as expected
  example/src/Examples/TooltipExample.tsx
  src/components/FAB/FAB.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/utils.ts
  src/components/__tests__/Tooltip.test.tsx
  testSetup.js
Labels: bug, example app, Tooltip

#3958 fix: remove conditional React Navigation 7 support
  src/react-navigation/__tests__/adapter.v6.test.ts
  src/react-navigation/__tests__/adapter.v7.test.ts
  src/react-navigation/adapter.ts
  src/react-navigation/views/MaterialBottomTabView.tsx
Labels: dependencies

#3956 fix: correct theme provider type
  package.json
  patches/@callstack+react-theme-provider+3.0.8.patch
  src/components/Portal/Portal.tsx
  src/core/PaperProvider.tsx
  yarn.lock
Labels: TypeScript, Theme

#3936 fix: correct condition to accept id equal zero
  src/components/List/ListAccordion.tsx
  src/components/__tests__/ListAccordion.test.tsx
Labels: List

#3937 fix: MD2 Checkbox.Android disabled color
  src/components/Checkbox/utils.ts
  src/components/__tests__/Checkbox/utils.test.tsx
Labels: Checkbox

#3926 feat: add label style to segmented buttons
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
  src/components/SegmentedButtons/SegmentedButtons.tsx
  src/components/__tests__/SegmentedButton.test.tsx
  src/components/__tests__/__snapshots__/SegmentedButton.test.tsx.snap
Labels: SegmenetedButtons

#3896 feat: add cursorColor to TextInput RenderProps types
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
  src/components/TextInput/types.tsx
  src/components/__tests__/TextInput.test.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#3908 fix: set default pointer events on web Surface
  src/components/Surface.tsx
  src/components/__tests__/ListItem.test.tsx
Labels: List, Surface

#3907 fix: input icon custom color
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/components/TextInput/Adornment/utils.ts
Labels: TextInput

#3955 refactor: components adjustments to work with tooltip
  example/src/Examples/TooltipExample.tsx
  src/components/Card/Card.tsx
  src/components/Chip/Chip.tsx
Labels: Card, Chip, Tooltip

#3925 fix: correct setting cursor type
  src/components/Tooltip/Tooltip.tsx
Labels: Tooltip

#3938 fix: adjust pointer events on menu wrappers
  src/components/Menu/Menu.tsx
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
Labels: Menu

#3947 refactor: typography text styles adjustments
  example/src/Examples/ButtonExample.tsx
  example/src/Examples/ChipExample.tsx
  src/components/Typography/Text.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.tsx.snap
  src/components/__tests__/Typography/Text.test.tsx
  src/components/__tests__/Typography/__snapshots__/Text.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.tsx.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListSection.test.tsx.snap
  src/components/__tests__/__snapshots__/Menu.test.tsx.snap
  src/components/__tests__/__snapshots__/MenuItem.test.tsx.snap
  src/components/__tests__/__snapshots__/SegmentedButton.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
Labels: Typography
