Repository callstack/react-native-paper, pull requests merged in 2024-01, with the labels that each got.

#4257 fix: platform constants is undefined on web
  src/components/Button/Button.tsx
  src/components/Chip/Chip.tsx
Labels: web

#4228 feat: dialog support safe area context
  src/components/Dialog/Dialog.tsx
Labels: Dialog

#4239 fix: include onLayout in TextInput render props
  src/components/TextInput/types.tsx
Labels: TextInput, TypeScript

#4222 feat: progress bar fill style
  src/components/ProgressBar.tsx
  src/components/__tests__/ProgressBar.test.tsx
  src/components/__tests__/__snapshots__/ProgressBar.test.tsx.snap
Labels: ProgressBar

#4144 feat: add activeIndicatorStyle to BottomNavigation
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/BottomNavigationBar.tsx
Labels: BottomNavigation

#4205 feat: add contentStyle to the list item title and description container
  src/components/List/ListItem.tsx
  src/components/__tests__/ListItem.test.tsx
  src/components/__tests__/ListSection.test.tsx
  src/components/__tests__/__snapshots__/ListAccordion.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListSection.test.tsx.snap
Labels: List

#4201 feat: added the loading prop to IconButton and updated react native
  example/src/Examples/IconButtonExample.tsx
  src/components/IconButton/IconButton.tsx
Labels: Icon Button

#4077 feat: add `elevation` property for Menu component
  src/components/Menu/Menu.tsx
Labels: Menu

#4215 feat: added onLongPress to `RadioButton.Item` and `Checkbox.Item`
  src/components/Checkbox/CheckboxItem.tsx
  src/components/RadioButton/RadioButtonItem.tsx
  src/components/__tests__/Checkbox/CheckboxItem.test.tsx
  src/components/__tests__/RadioButton/RadioButtonItem.test.tsx
Labels: RadioButton, Checkbox

#4092 fix: allow pass-through of accessibilityRole prop on Button.tsx
  scripts/typescript-output-lint.js
  src/components/Button/Button.tsx
Labels: Button, Accessibility

#4196 fix: improve screen reader experience by fixing redundant FAB.Group item announcements.
  src/components/FAB/FABGroup.tsx
Labels: FAB, Accessibility

#4243 feat(search-bar): minify the SearchBar component usage example
  src/components/Searchbar.tsx
Labels: docs, Searchbar

#4113 feat(text-input): add onPress to affix adornment
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/__tests__/TextInput.test.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#4260 fix: correct border radius based on roundness
  src/components/Chip/Chip.tsx
  src/components/FAB/utils.ts
  src/components/__tests__/Chip.test.tsx
  src/components/__tests__/FAB.test.tsx
Labels: FAB, Chip

#4259 fix: update input colors
  src/components/TextInput/helpers.tsx
  src/components/__tests__/TextInput.test.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#4108 feat: pass background prop to nested touchables
  src/components/Button/Button.tsx
  src/components/Checkbox/CheckboxAndroid.tsx
  src/components/Checkbox/CheckboxIOS.tsx
  src/components/Checkbox/CheckboxItem.tsx
  src/components/Chip/Chip.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/List/ListAccordion.tsx
  src/components/Menu/MenuItem.tsx
  src/components/RadioButton/RadioButtonAndroid.tsx
  src/components/RadioButton/RadioButtonIOS.tsx
  src/components/RadioButton/RadioButtonItem.tsx
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
Labels: TouchableRipple

#4274 fix: correct affix pressable container styles
  src/components/TextInput/Adornment/TextInputAffix.tsx
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
Labels: TextInput

#4284 docs: Update `08-theming-with-react-navigation.md`, add missing import for …
  docs/docs/guides/08-theming-with-react-navigation.md
Labels: docs

#4283 docs: Update `BottomNavigationBar.tsx`, add missing import for CommonActions …
  src/components/BottomNavigation/BottomNavigationBar.tsx
Labels: docs

#4291 fix: prevent pressing disabled children within tooltip
  example/src/Examples/TooltipExample.tsx
  src/components/Tooltip/Tooltip.tsx
Labels: Tooltip

#4293 fix: correct elevation in disabled button for MD2
  src/components/Button/Button.tsx
Labels: Button
