Repository callstack/react-native-paper, pull requests merged in 2025-05, with the labels that each got.

#4280 docs: Update Modal.tsx description to note a11y limitations
  src/components/Modal.tsx
Labels: docs, Modal, Accessibility

#4521 fix: use transformOrigin to fix TextInput label position flickering in RN 0.73
  src/components/TextInput/Label/InputLabel.tsx
  src/components/TextInput/Label/LabelBackground.tsx
Labels: TextInput

#4717 fix: allow to override hitSlop
  scripts/typescript-output-lint.js
  src/components/Checkbox/CheckboxItem.tsx
  src/components/Chip/Chip.tsx
  src/components/Drawer/DrawerItem.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/List/ListAccordion.tsx
  src/components/Menu/MenuItem.tsx
  src/components/RadioButton/RadioButtonItem.tsx
  src/components/SegmentedButtons/SegmentedButtonItem.tsx
Labels: Drawer, FAB, List, Menu, RadioButton, Checkbox, Chip, SegmentedButtons

#4634 fix: fix Surface styling when flex set
  src/components/Surface.tsx
Labels: Surface

#4718 chore: update `react-native-vector-icons` to `12.0.0`
  .github/workflows/versions.yml
  docs/docs/guides/01-getting-started.md
  docs/package.json
  docs/yarn.lock
  example/metro.config.js
  package.json
  yarn.lock
Labels: dependencies

#4716 chore: update `react-native` to `0.77.0`
  example/android/build.gradle
  example/package.json
  example/yarn.lock
  package.json
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Badge.test.tsx
  src/components/__tests__/BottomNavigation.test.tsx
  src/components/__tests__/DataTable.test.tsx
  src/components/__tests__/Dialog.test.tsx
  src/components/__tests__/FABGroup.test.tsx
  src/components/__tests__/Menu.test.tsx
  src/components/__tests__/Snackbar.test.tsx
  src/components/__tests__/Tooltip.test.tsx
  src/components/__tests__/__snapshots__/ActivityIndicator.test.tsx.snap
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/components/__tests__/__snapshots__/Banner.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/IconButton.test.tsx.snap
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/core/__tests__/PaperProvider.test.tsx
  testSetup.js
  yarn.lock
Labels: dependencies

#4719 fix: correct border end width
  src/components/SegmentedButtons/utils.ts
  src/components/__tests__/__snapshots__/SegmentedButton.test.tsx.snap
Labels: SegmentedButtons

#4729 fix: fix error on width change of AnimatedFAB when label is empty string
  src/components/FAB/AnimatedFAB.tsx
Labels: FAB

#4724 chore: update rn expo to the latest
  docs/src/components/ScreenshotTabs.tsx
  docs/src/components/ThemeColorsTable.tsx
  example/package.json
  package.json
  src/components/BottomNavigation/BottomNavigationRouteScreen.tsx
  src/components/Typography/AnimatedText.tsx
  src/components/Typography/Text.tsx
  src/components/__tests__/Dialog.test.tsx
  src/components/__tests__/Menu.test.tsx
  src/components/__tests__/Modal.test.tsx
  src/components/__tests__/ProgressBar.test.tsx
  src/components/__tests__/Tooltip.test.tsx
  src/components/__tests__/__snapshots__/ProgressBar.test.tsx.snap
  src/styles/__tests__/fonts.test.js
  src/utils/__mocks__/BackHandler.ts
  yarn.lock
Labels: dependencies, v6

#4725 refactor: remove MD2 theme
  example/src/DrawerItems.tsx
  example/src/ExampleList.tsx
  example/src/Examples/ActivityIndicatorExample.tsx
  example/src/Examples/AnimatedFABExample/AnimatedFABExample.tsx
  example/src/Examples/AnimatedFABExample/CustomFAB.tsx
  example/src/Examples/AnimatedFABExample/CustomFABControls.tsx
  example/src/Examples/AppbarExample.tsx
  example/src/Examples/AvatarExample.tsx
  example/src/Examples/BadgeExample.tsx
  example/src/Examples/BannerExample.tsx
  example/src/Examples/BottomNavigationExample.tsx
  example/src/Examples/ButtonExample.tsx
  example/src/Examples/CardExample.tsx
  example/src/Examples/CheckboxExample.tsx
  example/src/Examples/CheckboxItemExample.tsx
  example/src/Examples/ChipExample.tsx
  example/src/Examples/DialogExample.tsx
  example/src/Examples/Dialogs/DialogTextComponent.tsx
  example/src/Examples/Dialogs/DialogWithCustomColors.tsx
  example/src/Examples/Dialogs/DialogWithDismissableBackButton.tsx
  example/src/Examples/Dialogs/DialogWithLoadingIndicator.tsx
  example/src/Examples/Dialogs/UndismissableDialog.tsx
  example/src/Examples/DividerExample.tsx
  example/src/Examples/FABExample.tsx
  example/src/Examples/IconButtonExample.tsx
  example/src/Examples/MenuExample.tsx
  example/src/Examples/ProgressBarExample.tsx
  example/src/Examples/RadioButtonExample.tsx
  example/src/Examples/RadioButtonGroupExample.tsx
  example/src/Examples/RadioButtonItemExample.tsx
  example/src/Examples/SearchbarExample.tsx
  example/src/Examples/SnackbarExample.tsx
  example/src/Examples/SurfaceExample.tsx
  example/src/Examples/SwitchExample.tsx
  example/src/Examples/TextExample.tsx
  example/src/Examples/TextInputExample.tsx
  example/src/PreferencesContext.tsx
  example/src/ScreenWrapper.tsx
  example/src/hooks/useExampleTheme.ts
  example/src/index.native.tsx
  example/src/index.tsx
  src/babel/__fixtures__/rewrite-imports/code.js
  src/babel/__fixtures__/rewrite-imports/output.js
  src/components/ActivityIndicator.tsx
  src/components/Badge.tsx
  src/components/Surface.tsx
  src/core/PaperProvider.tsx
  src/core/theming.tsx
  src/index.tsx
  src/styles/fonts.tsx
  src/styles/overlay.tsx
  src/styles/shadow.tsx
  src/styles/themes/index.ts
  src/styles/themes/v2/DarkTheme.tsx
  src/styles/themes/v2/LightTheme.tsx
  src/styles/themes/v2/colors.tsx
  src/types.tsx
Labels: v6

#4742 fix: add container prop and improve flex/layout handling
  src/components/Appbar/Appbar.tsx
  src/components/Banner.tsx
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/Button/Button.tsx
  src/components/Card/Card.tsx
  src/components/Chip/Chip.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Menu/Menu.tsx
  src/components/Modal.tsx
  src/components/Searchbar.tsx
  src/components/Snackbar.tsx
  src/components/Surface.tsx
Labels: Surface

#4736 refactor: rename styles
  example/src/Examples/IconButtonExample.tsx
  example/src/Examples/MenuExample.tsx
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/AppbarContent.tsx
  src/components/Appbar/utils.ts
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/Button/Button.tsx
  src/components/Chip/Chip.tsx
  src/components/Dialog/DialogActions.tsx
  src/components/Divider.tsx
  src/components/FAB/AnimatedFAB.tsx
  src/components/FAB/FAB.tsx
  src/components/FAB/utils.ts
  src/components/List/ListAccordion.tsx
  src/components/List/ListIcon.tsx
  src/components/List/ListImage.tsx
  src/components/List/ListItem.tsx
  src/components/List/utils.ts
  src/components/Menu/MenuItem.tsx
  src/components/Searchbar.tsx
  src/components/__tests__/Appbar/Appbar.test.tsx
  src/components/__tests__/Dialog.test.tsx
  src/components/__tests__/ListUtils.test.tsx
  src/components/__tests__/Searchbar.test.tsx
  src/components/__tests__/SegmentedButton.test.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.tsx.snap
  src/styles/__tests__/fonts.test.js
Labels: v6

#4748 fix: apply elevation as prop for md3
  src/components/Card/Card.tsx
  src/components/__tests__/Card/__snapshots__/Card.test.tsx.snap
Labels: Card

#4740 refactor: deprecations clean up
  docs/docs/guides/01-getting-started.md
  docs/docs/guides/02-theming.mdx
  docs/docs/guides/04-fonts.md
  docs/docs/guides/08-theming-with-react-navigation.md
  docs/docs/guides/09-bottom-navigation.md
  docs/docs/guides/09-react-navigation.md
  docs/docs/guides/10-migration-guide-to-5.0.md
  docs/docs/guides/11-ripple-effect.md
  example/src/Examples/Dialogs/DialogWithIcon.tsx
  react-navigation/package.json
  src/components/Appbar/AppbarContent.tsx
  src/components/BottomNavigation/BottomNavigation.tsx
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/Button/Button.tsx
  src/components/Divider.tsx
  src/components/Drawer/DrawerCollapsedItem.tsx
  src/components/FAB/FAB.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Menu/MenuItem.tsx
  src/components/TextInput/Adornment/TextInputIcon.tsx
  src/index.tsx
  src/react-navigation/__tests__/index.test.tsx
  src/react-navigation/index.tsx
  src/react-navigation/navigators/createMaterialBottomTabNavigator.tsx
  src/react-navigation/types.tsx
  src/react-navigation/views/MaterialBottomTabView.tsx
Labels: v6
