Repository callstack/react-native-paper, pull requests merged in 2025-04, with the labels that each got.

#4645 fix(menu): fix menu visibility based on props
  src/components/Menu/Menu.tsx
Labels: Menu

#4681 fix: prevent elevation animation for contained Card mode
  src/components/Card/Card.tsx
Labels: Card

#4683 fix: remove cover padding
  src/components/Card/CardCover.tsx
Labels: Card

#4685 fix: correct menu position with translucent status bar
  example/src/Examples/MenuExample.tsx
  package.json
  src/components/Menu/Menu.tsx
  src/components/__tests__/DataTable.test.tsx
  src/components/__tests__/Menu.test.tsx
  src/constants.tsx
  yarn.lock
Labels: Menu

#4268 make theming-with-react-navigation more readable
  docs/docs/guides/08-theming-with-react-navigation.md
Labels: docs

#4305 fix: :bug: Remove outline on web from TextInputFlat component
  src/components/TextInput/TextInputFlat.tsx
  src/components/TextInput/TextInputOutlined.tsx
Labels: TextInput

#4687 fix: omit safe area insets in appbar header types
  src/components/Appbar/AppbarHeader.tsx
Labels: Appbar

#4686 refactor: segmented button typing
  example/src/Examples/SegmentedButtons/SegmentedButtonCustomColorCheck.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonDefault.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonDisabled.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonMultiselect.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonMultiselectIcons.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonMultiselectRealCase.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonOnlyIcons.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonOnlyIconsWithCheck.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonRealCase.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonWithDensity.tsx
  example/src/Examples/SegmentedButtons/SegmentedButtonWithSelectedCheck.tsx
  src/components/SegmentedButtons/SegmentedButtons.tsx
Labels: SegmentedButtons

#4688 fix: add missing setSelection method on text input
  src/components/TextInput/TextInput.tsx
Labels: TextInput

#4693 fix: zero badge rendering
  src/components/Drawer/DrawerCollapsedItem.tsx
Labels: Drawer

#4692 fix: hide actions after closing fab group
  src/components/FAB/FABGroup.tsx
Labels: FAB

#4700 fix: adjust label opacity
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
Labels: BottomNavigation

#4701 fix: set cursor to auto when touchable is disabled
  src/components/TouchableRipple/TouchableRipple.tsx
Labels: web, TouchableRipple

#4699 fix: isleading prop behaviour
  src/components/Appbar/Appbar.tsx
  src/components/Appbar/AppbarAction.tsx
  src/components/Appbar/utils.ts
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
Labels: Appbar

#4703 docs: correct example code
  src/components/BottomNavigation/BottomNavigationBar.tsx
Labels: BottomNavigation

#4708 fix: add set selection to the searchbar
  src/components/Searchbar.tsx
Labels: Searchbar

#4697 feat: add content style prop
  src/components/Snackbar.tsx
  src/components/__tests__/__snapshots__/Snackbar.test.tsx.snap
Labels: Snackbar

#4707 fix: allow to override content style
  src/components/Card/CardActions.tsx
Labels: Card

#4706 refactor: mark MD2 typography as deprecated
  src/components/Typography/v2/Caption.tsx
  src/components/Typography/v2/Headline.tsx
  src/components/Typography/v2/Paragraph.tsx
  src/components/Typography/v2/Subheading.tsx
  src/components/Typography/v2/Title.tsx
Labels: Typography

#4696 chore: update react-native-vector-icons
  .github/workflows/versions.yml
  docs/docs/guides/01-getting-started.md
  docs/docs/guides/03-icons.mdx
  docs/docs/guides/05-react-native-web.md
  docs/docs/guides/09-bottom-navigation.md
  docs/package.json
  docs/plugins/docusaurus-react-native-plugin.js
  docs/src/components/IconsList.tsx
  docs/src/css/custom.css
  docs/yarn.lock
  example/babel.config.js
  example/metro.config.js
  example/package.json
  example/src/Examples/AnimatedFABExample/AnimatedFABExample.tsx
  example/src/Examples/BottomNavigationBarExample.tsx
  example/src/Examples/MaterialBottomTabNavigatorExample.tsx
  example/src/Examples/TextInputExample.tsx
  example/src/Examples/ThemingWithReactNavigation.tsx
  example/webpack.config.js
  example/yarn.lock
  package.json
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/components/MaterialCommunityIcon.tsx
  src/components/__tests__/Appbar/__snapshots__/Appbar.test.tsx.snap
  src/components/__tests__/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/components/__tests__/Checkbox/__snapshots__/CheckboxItem.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonGroup.test.tsx.snap
  src/components/__tests__/RadioButton/__snapshots__/RadioButtonItem.test.tsx.snap
  src/components/__tests__/__snapshots__/AnimatedFAB.test.tsx.snap
  src/components/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/components/__tests__/__snapshots__/BottomNavigation.test.tsx.snap
  src/components/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/__tests__/__snapshots__/Chip.test.tsx.snap
  src/components/__tests__/__snapshots__/DataTable.test.tsx.snap
  src/components/__tests__/__snapshots__/DrawerItem.test.tsx.snap
  src/components/__tests__/__snapshots__/FAB.test.tsx.snap
  src/components/__tests__/__snapshots__/IconButton.test.tsx.snap
  src/components/__tests__/__snapshots__/ListAccordion.test.tsx.snap
  src/components/__tests__/__snapshots__/ListItem.test.tsx.snap
  src/components/__tests__/__snapshots__/ListSection.test.tsx.snap
  src/components/__tests__/__snapshots__/MenuItem.test.tsx.snap
  src/components/__tests__/__snapshots__/Searchbar.test.tsx.snap
  src/components/__tests__/__snapshots__/TextInput.test.tsx.snap
  src/components/__tests__/__snapshots__/ToggleButton.test.tsx.snap
  testSetup.js
  yarn.lock
Labels: Icon

#4690 feat: adjust adaptNavigationTheme to the latest navigation theme changes
  docs/docs/guides/02-theming.mdx
  example/src/index.native.tsx
  example/src/index.tsx
  example/utils/themes.ts
  src/core/__tests__/theming.test.tsx
  src/core/theming.tsx
Labels: utilities

#4694 chore: deprecate `createMaterialBottomTabNavigator`
  docs/component-docs-plugin/generatePageMDX.js
  docs/docs/guides/09-bottom-navigation.md
  docs/docusaurus.config.js
  docs/src/components/ExtendedExample.tsx
  docs/src/data/extendedExamples.js
  docs/src/data/extendedExamples/BottomNavigationBar.js
  example/package.json
  example/src/ExampleList.tsx
  example/src/Examples/MaterialBottomTabNavigatorExample.tsx
  example/src/Examples/ThemingWithReactNavigation.tsx
  example/src/RootNavigator.tsx
  example/src/index.native.tsx
  example/src/index.tsx
  example/utils/themes.ts
  example/yarn.lock
  package.json
  src/components/BottomNavigation/BottomNavigationBar.tsx
  src/react-navigation/navigators/createMaterialBottomTabNavigator.tsx
  yarn.lock
Labels: BottomNavigation
